(
	{name = Smile; image = "smile.tif"; insert = ":)";},
	{name = Frown; image = "frown.tif"; insert = ":(";},
	{name = Wink; image = "wink.tif"; insert = ";)";},
	{name = Happy; image = "happy.tif"; insert = ":D";},
	{name = Stoic; image = "stoic.tif"; insert = ":|";},
	{name = Cool; image = "cool.tif"; insert = "8)";},
	{name = Razz; image = "razz.tif"; insert = ":P";},
	{name = Surprised; image = "suprised.tif"; insert = ":O";},
	{name = Sarcastic; image = "sarcasm.tif"; insert = "9.9";},
	{name = Annoyed; image = "annoyed.tif"; insert = ":\\";},
	{name = Angry; image = "angry.tif"; insert = ":x";},
	{name = Relaxed; image = "hat.tif"; insert = "d:)";},
	{name = Jamming; image = "headphones.tif"; insert = "[:)";}
)