<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Novel Colloquy Chat Style</string>
	<key>CFBundleIdentifier</key>
	<string>cc.javelin.colloquy.style.novel</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Novel</string>
	<key>CFBundlePackageType</key>
	<string>coSt</string>
	<key>JVStyleOptions</key>
	<array>
		<dict>
			<key>style</key>
			<string>.sender { color: %@ !important; }</string>
			<key>default</key>
			<string>#129</string>
			<key>description</key>
			<string>Room members</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<string>.envelopeHighlight { background-color: %@ !important; }</string>
			<key>default</key>
			<string>#efefec</string>
			<key>description</key>
			<string>Message highlight</string>
			<key>type</key>
			<string>color</string>
		</dict>
	</array>
</dict>
</plist>
