.error {
	color: #aaa;
}

.error:before {
	content: "(";
}

.error:after {
	content: ")";
}

.event {
	font-size: 75%;
	line-height: 1.1em;
	color: #888;
	text-align: center;
}

table.message, table.selfMessage {
	margin-bottom: 10px;
}

table.selfMessage {
	margin-left: auto;
}

td.gutter {
	width: 38px;
}

td.icon {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	background-image: url("person.tif");
	background-repeat: no-repeat;
	background-position: bottom;
}

td.sender {
	font-weight: bold;
	color: #aaa;
}

table.leftBubble {
	align: left;
	border: 0;
}

table.leftBubble td.topRight {
	width: 10px;
	height: 9px;
	background-image: url("LeftTopRight.png");
	background-repeat: no-repeat;
}

table.leftBubble td.right {
	width: 10px;
	background-image: url("LeftRight.png");
}

table.leftBubble td.bottom {
	height: 12px;
	background-image: url("LeftBottom.png");
}

table.leftBubble td.bottomRight {
	width: 10px;
	height: 12px;
	background-image: url("LeftBottomRight.png");
	background-repeat: no-repeat;
	background-position: bottom left;
}

table.leftBubble td.bottomLeft {
	width: 18px;
	height: 12px;
	background-image: url("LeftBottomLeft.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

table.leftBubble td.left {
	width: 18px;
	background-image: url("LeftLeft.png");
}

table.leftBubble td.topLeft {
	width: 18px;
	height: 9px;
	background-image: url("LeftTopleft.png");
	background-repeat: no-repeat;
}

table.leftBubble td.center {
	background-color: #E0E1E1;
	background-image: url("LeftTop.png");
	background-repeat: repeat-x;
}

table.rightBubble {
	align: right;
	border: 0;
}

table.rightBubble td.topRight {
	width: 18px;
	height: 9px;
	background-image: url("OrangeRightTopRight.png");
	background-repeat: no-repeat;
}

table.rightBubble td.right {
	width: 18px;
	background-image: url("OrangeRightRight.png");
}

table.rightBubble td.bottom {
	height: 12px;
	background-image: url("OrangeRightBottom.png");
}

table.rightBubble td.bottomRight {
	width: 18px;
	height: 12px;
	background-image: url("OrangeRightBottomRight.png");
	background-repeat: no-repeat;
	background-position: bottom left;
}

table.rightBubble td.bottomLeft {
	width: 10px;
	height: 12px;
	background-image: url("OrangeRightBottomLeft.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

table.rightBubble td.left {
	width: 10px;
	background-image: url("OrangeRightLeft.png");
}

table.rightBubble td.topLeft {
	width: 10px;
	height: 9px;
	background-image: url("OrangeRightTopleft.png");
	background-repeat: no-repeat;
}

table.rightBubble td.center {
	background-color: #e8a630;
	background-image: url("OrangeRightTop.png");
	background-repeat: repeat-x;
}

table td.center .text {
	display: block;
	position: relative;
	overflow: hidden;
	top: 4px;
	line-height: 1.1em;
}

table.leftBubble td.center .text {
	margin-right: 2px;
}

table.rightBubble td.center .text {
	margin-left: 2px;
}