body {
	margin: 4px 5px 4px 5px;
	color: black;
	background-image: url( "back.png" ) !important;
	background-color: white !important;
}

.event {
	font-size: 85%;
	line-height: 1.1em;
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
	word-wrap: break-word;
	-khtml-line-break: after-white-space;
	-khtml-nbsp-mode: space;
}

.event .member {
	color: inherit !important;
}

.error:before {
	content: "(";
}

.error:after {
	content: ")";
}

.member {
	font-weight: bold;
	font-style: inherit;
	text-decoration: inherit;
	color: #0054cc
}

.highlight {
	font-weight: bold;
	font-style: inherit;
	text-decoration: inherit;
	color: #0054cc
}

.member.action:before {
	content: "\2023";
	font-weight: bold;
	margin-right: 0.05em;
}

hr {
	opacity: 0.5;
	margin: 3px 0 2px 0;
}

table.message, table.selfMessage {
	margin-bottom: 10px;
}

table.selfMessage {
	margin-left: auto;
}

td.gutter {
	width: 38px;
}

td.icon {
	width: 32px;
	vertical-align: bottom;
	margin-right: 5px;
}

td.sender {
	font-weight: bold;
	color: #aaa;
}

table {
	border: none;
}

table td {
	background-repeat: no-repeat;
	word-wrap: break-word;
	-khtml-line-break: after-white-space;
	-khtml-nbsp-mode: space;
}

table td.topRight {
	width: 18px;
	height: 9px;
	background-image: url( "topRight.png" );
	background-position: bottom left;
}

table td.right {
	width: 18px;
	background-image: url( "right.png" );
	background-repeat: repeat-y;
	background-position: left;
}

table td.bottom {
	height: 11px;
	background-image: url( "bottom.png" );
	background-repeat: repeat-x;
	background-position: top;
}

table td.left {
	width: 18px;
	background-image: url( "left.png" );
	background-repeat: repeat-y;
	background-position: right;
}

table td.topLeft {
	width: 18px;
	height: 9px;
	background-image: url( "topLeft.png" );
	background-position: bottom right;
}

table td.center {
	background-image: url( "top.png" );
	background-repeat: repeat-x;
	background-position: top;
}

table td.center .text {
	color: black;
	display: block;
	position: relative;
	overflow: hidden;
	top: 4px;
	line-height: 1.1em;
}

table.leftBubble {
	align: left;
}

table.leftBubble td {
	background-color: white;
}

table.leftBubble td.bottomRight {
	width: 18px;
	height: 11px;
	background-image: url( "leftBottomRight.png" );
	background-position: bottom left;
}

table.leftBubble td.bottomLeft {
	width: 18px;
	height: 11px;
	background-image: url("leftBottomLeft.png");
	background-position: bottom right;
}

table.rightBubble {
	align: right;
}

table.rightBubble td {
	background-color: white;
}

table.rightBubble td.bottomRight {
	width: 18px;
	height: 11px;
	background-image: url("rightBottomRight.png");
	background-position: bottom left;
}

table.rightBubble td.bottomLeft {
	width: 18px;
	height: 11px;
	background-image: url( "rightBottomLeft.png" );
	background-position: bottom right;
}

table.leftBubble td.center .text {
	margin-right: 2px;
}

table.rightBubble td.center .text {
	margin-left: 2px;
}
