[submodule "Carthage/Checkouts/CocoaAsyncSocket"]
	path = Carthage/Checkouts/CocoaAsyncSocket
	url = ssh://git@github.com/colloquy/CocoaAsyncSocket.git
[submodule "Carthage/Checkouts/TCMPortMapper"]
	path = Carthage/Checkouts/TCMPortMapper
	url = ssh://git@github.com/mugginsoft/TCMPortMapper.git
[submodule "Carthage/Checkouts/KissXML"]
	path = Carthage/Checkouts/KissXML
	url = ssh://git@github.com/colloquy/KissXML.git
[submodule "Carthage/Checkouts/XMPPFramework"]
	path = Carthage/Checkouts/XMPPFramework
	url = ssh://git@github.com/colloquy/XMPPFramework.git
[submodule "Carthage/Checkouts/libidn-framework"]
	path = Carthage/Checkouts/libidn-framework
	url = ssh://git@github.com/chrisballinger/libidn-framework.git
[submodule "Carthage/Checkouts/CocoaLumberjack"]
	path = Carthage/Checkouts/CocoaLumberjack
	url = ssh://git@github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "Carthage/Checkouts/MASPreferences"]
	path = Carthage/Checkouts/MASPreferences
	url = ssh://git@github.com/shpakovski/MASPreferences.git
[submodule "Carthage/Checkouts/onepassword-extension"]
	path = Carthage/Checkouts/onepassword-extension
	url = ssh://git@github.com/AgileBits/onepassword-extension.git
