# ==================================================
# Instructions
# ==================================================
#
# To update dependencies …
# - Install Carthage: https://github.com/Carthage/Carthage#installing-carthage
# - Use "carthage update --use-submodules --no-build --use-ssh" from the command line
#



# ==================================================
# Mac Dependencies
# ==================================================



# ==================================================
# iOS Dependencies
# ==================================================



# ==================================================
# Shared Dependencies
# ==================================================

# CocoaAsyncSocket
github "colloquy/CocoaAsyncSocket" "colloquy-patches"


github "mugginsoft/TCMPortMapper" "master"
