[lang |= en] > * { quotes: "\201c" "\201d" "\2018" "\2019" }

body {
	margin: 4px 0 4px 0;
	background-color: white;
}

q:before {
	content: "\201c";
	font-weight: bold;
}

q:after {
	content: "\201d";
	font-weight: bold;
}

.error {
	color: #aaa;
}

.error:before {
	content: "{";
}

.error:after {
	content: "}";
}

.event, .envelope {
	overflow: hidden;
	padding: 1px 5px 1px 5px;
	margin-bottom: 5px;
	line-height: 1.1em;
}

.envelopeHighlight {
	overflow: hidden;
	padding: 1px 5px 1px 5px;
	margin-bottom: 5px;
	background-color: #efefec;
}

span.sender {
	color: #129;
}
