[lang |= en] > * { quotes: "\201C" "\201D" "\2018" "\2019" }

body {
	margin: 4px 0 0 0;
	background-color: white;
}

q:before, q:after {
	font-weight: bold;
}

.error {
	color: #aaa;
}

.error:before {
	content: "{";
}

.error:after {
	content: "}";
}

.event, .envelope {
	overflow: hidden;
	padding: 1px 5px 1px 5px;
	margin-bottom: 5px;
	font-family: serif;
	font-size: 10pt;
	line-height: 11pt;
}

.envelopeHighlight {
	overflow: hidden;
	padding: 1px 5px 1px 5px;
	margin-bottom: 5px;
	background-color: #efefec;
}

span.sender {
	color: #129;
}
