<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatMemberJoinedRoomAction</string>
		<key>MVChatActionTitle</key>
		<string>Utilisateur entrant</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatMemberLeftRoomAction</string>
		<key>MVChatActionTitle</key>
		<string>Utilisateur se déconnectant</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatMemberKickedAction</string>
		<key>MVChatActionTitle</key>
		<string>Utilisateur éjecté</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatMemberPromotedAction</string>
		<key>MVChatActionTitle</key>
		<string>Utilisateur promu</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatMemberDemotedAction</string>
		<key>MVChatActionTitle</key>
		<string>Utilisateur limogé</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatMemberVoicedAction</string>
		<key>MVChatActionTitle</key>
		<string>Utilisateur pouvant parler</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatMemberDevoicedAction</string>
		<key>MVChatActionTitle</key>
		<string>Utilisateur muselé</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatFisrtMessageAction</string>
		<key>MVChatActionTitle</key>
		<string>Premier message privé</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatAdditionalMessagesAction</string>
		<key>MVChatActionTitle</key>
		<string>Messages privés additionnels</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatMentionedAction</string>
		<key>MVChatActionTitle</key>
		<string>Quelqu'un vous a cité</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatInlineMessageBeepAction</string>
		<key>MVChatActionTitle</key>
		<string>Message d'alerte</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatFriendOnlineAction</string>
		<key>MVChatActionTitle</key>
		<string>Ami qui s'est connecté</string>
	</dict>
	<dict>
		<key>MVChatActionIdentifier</key>
		<string>MVChatFriendOfflineAction</string>
		<key>MVChatActionTitle</key>
		<string>Ami qui se déconnecte</string>
	</dict>
</array>
</plist>
