<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Meinzer Colloquy Chat Style</string>
	<key>CFBundleIdentifier</key>
	<string>cc.javelin.colloquy.style.meinzer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Meinzer</string>
	<key>CFBundlePackageType</key>
	<string>coSt</string>
	<key>JVBaseStyleVariantName</key>
	<string>Cobalt</string>
	<key>JVStyleOptions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>.message.highlight</string>
			<key>property</key>
			<string>background-color</string>
			<key>important</key>
			<true />
			<key>default</key>
			<string>rgba( 255, 191, 78, 0.6 )</string>
			<key>description</key>
			<string>Message highlight</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>.submessage.highlight</string>
			<key>property</key>
			<string>background-color</string>
			<key>important</key>
			<true />
			<key>default</key>
			<string>rgba( 255, 191, 78, 0.6 )</string>
			<key>description</key>
			<string>Submessage highlight</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>.time</string>
			<key>property</key>
			<string>display</string>
			<key>default</key>
			<integer>0</integer>
			<key>description</key>
			<string>Timestamp</string>
			<key>type</key>
			<string>list</string>
			<key>options</key>
			<array>
				<string>Visible</string>
				<string>Hidden</string>
			</array>
			<key>values</key>
			<array>
				<string>block</string>
				<string>none</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
