ALWAYS_SEARCH_USER_PATHS = NO
APPLY_RULES_IN_COPY_FILES = YES
ARCHS = $(ARCHS_STANDARD)
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_GETPW_GETS = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_MKSTEMP = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_UNCHECKEDRETURN = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_VFORK = YES
CLANG_ANALYZER_SECURITY_KEYCHAIN_API = YES
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_MODULE_DEBUGGING = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_MODULES_AUTOLINK = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_RECEIVER_WEAK = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = NO
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
COLLOQUY_BASE_CONFIGURATION = $(COLLOQUY_BASE_CONFIGURATION_$(CONFIGURATION))
COLLOQUY_BASE_CONFIGURATION_Debug = Debug
COLLOQUY_BASE_CONFIGURATION_Distribution = Release
COLLOQUY_BASE_CONFIGURATION_Release = Release
COLLOQUY_DEBUG_NO_RELEASE_YES = $(COLLOQUY_DEBUG_NO_RELEASE_YES_$(COLLOQUY_BASE_CONFIGURATION))
COLLOQUY_DEBUG_NO_RELEASE_YES_Debug = NO
COLLOQUY_DEBUG_NO_RELEASE_YES_Release = YES
COLLOQUY_DEBUG_YES_RELEASE_NO = $(COLLOQUY_DEBUG_YES_RELEASE_NO_$(COLLOQUY_BASE_CONFIGURATION))
COLLOQUY_DEBUG_YES_RELEASE_NO_Debug = YES
COLLOQUY_DEBUG_YES_RELEASE_NO_Release = NO
COLLOQUY_WORKSPACE_ROOT = $(SRCROOT)/.. // Root of the main repository. Projects that are not at the default location of <MainRepo>/<Project>/<Project>.xcproj have to overwrite this variable in their build settings.
COMBINE_HIDPI_IMAGES = YES
COPY_PHASE_STRIP = $(COLLOQUY_DEBUG_NO_RELEASE_YES)
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT_$(COLLOQUY_BASE_CONFIGURATION))
DEBUG_INFORMATION_FORMAT_Debug = dwarf
DEBUG_INFORMATION_FORMAT_Release = dwarf-with-dsym
DEPLOYMENT_POSTPROCESSING = $(COLLOQUY_DEBUG_NO_RELEASE_YES)
ENABLE_BITCODE = NO
ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
ENABLE_TESTABILITY = $(COLLOQUY_DEBUG_YES_RELEASE_NO)
FRAMEWORK_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR) $(COLLOQUY_WORKSPACE_ROOT)/Shared/Frameworks
GCC_CHAR_IS_UNSIGNED_CHAR = YES
GCC_CW_ASM_SYNTAX = NO
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_ASM_KEYWORD = NO
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_FAST_MATH = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_$(COLLOQUY_BASE_CONFIGURATION))
GCC_OPTIMIZATION_LEVEL_Debug = 0
GCC_OPTIMIZATION_LEVEL_Release = fast
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(COLLOQUY_BASE_CONFIGURATION))
GCC_PREPROCESSOR_DEFINITIONS_Debug = DEBUG NS_BLOCK_ASSERTIONS
GCC_PREPROCESSOR_DEFINITIONS_Release = NS_BLOCK_ASSERTIONS
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_THREADSAFE_STATICS = NO
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_UNROLL_LOOPS = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES
INFOPLIST_OUTPUT_FORMAT = binary
IPHONEOS_DEPLOYMENT_TARGET = 9.0
LLVM_LTO = $(LLVM_LTO_$(COLLOQUY_BASE_CONFIGURATION))
LLVM_LTO_Debug = NO
LLVM_LTO_Release = YES_THIN
LLVM_VECTORIZE_LOOPS = YES
MACOSX_DEPLOYMENT_TARGET = 10.10
ONLY_ACTIVE_ARCH = $(COLLOQUY_DEBUG_YES_RELEASE_NO)
PLIST_FILE_OUTPUT_FORMAT = binary
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
STRIP_INSTALLED_PRODUCT = $(COLLOQUY_DEBUG_NO_RELEASE_YES)
VALIDATE_PRODUCT = $(COLLOQUY_DEBUG_NO_RELEASE_YES)
VALID_ARCHS = x86_64 arm64 armv7 armv7s
VERSION_INFO_FILE = $(PRODUCT_NAME)VersionInfo.c
WARNING_CFLAGS = -Wmost -Wextra -Wchar-subscripts -Wformat-security -Wmissing-format-attribute -Wpointer-arith -Wwrite-strings -Wno-format-y2k -Wno-unused-parameter -Wbad-function-cast -Wmissing-declarations -Wnested-externs -Wno-objc-interface-ivars -Wno-documentation -Wno-direct-ivar-access -Wno-objc-missing-property-synthesis -Wno-gnu -Wno-custom-atomic-properties -Wno-format-nonliteral -Wno-objc-interface-ivars -Wno-implicit-retain-self -Wno-float-equal
