FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)/Frameworks" "$(HOME)/Library/Frameworks" $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks
MACOSX_DEPLOYMENT_TARGET = 10.3
DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = NO
COPY_PHASE_STRIP = NO
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_ASM_KEYWORD = NO
GCC_FAST_MATH = YES
GCC_CW_ASM_SYNTAX = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
OTHER_CFLAGS = -fconstant-cfstrings
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_OPTIMIZATION_LEVEL = s
GCC_MODEL_TUNING = G5
PREBINDING = YES
ZERO_LINK = NO
DSTROOT = /
