ARCHS = $(ARCHS_STANDARD_32_64_BIT)
COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf
DEPLOYMENT_POSTPROCESSING = YES
DSTROOT = /
FRAMEWORK_SEARCH_PATHS = "$(HOME)/Library/Frameworks" $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks
GCC_CW_ASM_SYNTAX = NO
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ENABLE_ASM_KEYWORD = NO
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_FAST_MATH = YES
GCC_FAST_OBJC_DISPATCH = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_MODEL_TUNING = G5
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = s
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_THREADSAFE_STATICS = NO
GCC_VERSION = com.apple.compilers.llvmgcc42
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
MACOSX_DEPLOYMENT_TARGET = 10.5
ONLY_LINK_ESSENTIAL_SYMBOLS = YES
OTHER_CFLAGS = -fconstant-cfstrings
PREBINDING = NO
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = YES
SDKROOT = macosx
STRIP_INSTALLED_PRODUCT = NO
VALID_ARCHS = x86_64 i386 ppc7400 ppc970 ppc
WARNING_CFLAGS = -Wmost -Wextra -Wcast-align -Wchar-subscripts -Wformat-security -Wmissing-format-attribute -Wpointer-arith -Wwrite-strings -Wno-format-y2k -Wno-unused-parameter -Wbad-function-cast -Wmissing-declarations -Wnested-externs
ZERO_LINK = NO
