#include "Common Settings.xcconfig"

FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)/Frameworks" "$(CONFIGURATION_BUILD_DIR)" "$(SRCROOT)/Frameworks/MASPreferences/build/Release" "$(HOME)/Library/Frameworks/**" "$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks"
HEADER_SEARCH_PATHS = "$(SRCROOT)/Frameworks/**" "$(SDKROOT)/usr/include/libxml2"
LIBRARY_SEARCH_PATHS = "$(SRCROOT)/Frameworks/**"
