<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>JVChatTranscriptFolder</key>
	<string>~/Documents/Colloquy Transcripts</string>
	<key>JVChatTranscriptFolderOrganization</key>
	<integer>1</integer>
	<key>JVChatTranscriptSessionHandling</key>
	<integer>1</integer>
	<key>JVChatScrollbackLimit</key>
	<integer>300</integer>
	<key>JVAutoAcceptFilesFrom</key>
	<integer>1</integer>
	<key>JVChatConsolePreferredOpenMode</key>
	<integer>0</integer>
	<key>JVChatRoomPreferredOpenMode</key>
	<integer>2</integer>
	<key>JVChatTranscriptPreferredOpenMode</key>
	<integer>0</integer>
	<key>JVDirectChatPreferredOpenMode</key>
	<integer>3</integer>
	<key>JVChatWindowDrawerOpen</key>
	<true/>
	<key>JVChatSelfNameStyle</key>
	<integer>1</integer>
	<key>JVChatBuddyNameStyle</key>
	<integer>1</integer>
	<key>JVChatEncoding</key>
	<integer>4</integer>
	<key>MVChatHighlightNames</key>
	<array></array>
	<key>MVChatBookmarks</key>
	<array></array>
	<key>JVEnableAutomaticSoftwareUpdateCheck</key>
	<true/>
	<key>JVChatSpellChecking</key>
	<true/>
	<key>JVChatMaximumHistory</key>
	<integer>15</integer>
	<key>JVFileTransferPortRange</key>
	<string>{1024, 24}</string>
	<key>JVAskForTransferSaveLocation</key>
	<true/>
	<key>JVChatBuddyListShowIcons</key>
	<true/>
	<key>JVChatBuddyListShowFullNames</key>
	<true/>
	<key>JVChatBuddyListShowNicknameAndServer</key>
	<true/>
	<key>JVChatBuddyListShowOfflineBuddies</key>
	<true/>
	<key>JVSortRoomMembersByStatus</key>
	<false/>
	<key>JVShowConnectionsWindowOnLaunch</key>
	<true/>
	<key>MVChatSendOnReturn</key>
	<true/>
	<key>MVChatActionOnReturn</key>
	<false/>
	<key>MVChatSendOnEnter</key>
	<true/>
	<key>MVChatActionOnEnter</key>
	<false/>
	<key>MVChatNaturalActions</key>
	<false/>
	<key>JVChatServers</key>
	<array>
		<string>irc.freenode.net</string>
		<string>irc.macnn.com</string>
		<string>irc.macgeneration.com</string>
		<string>irc.efnet.net</string>
		<string>irc.us.ircnet.net</string>
		<string>irc.fr.ircnet.net</string>
		<string>irc.za.ircnet.net</string>
		<string>us.undernet.org</string>
		<string>eu.undernet.org</string>
		<string>irc.quakenet.org</string>
		<string>uk.quakenet.org</string>
		<string>irc.icq.com</string>
		<string>irc.galaxynet.org</string>
		<string>irc.esper.net</string>
		<string>irc.mozilla.org</string>
	</array>
	<key>JVNotificationSettings JVChatAdditionalMessages</key>
	<dict>
		<key>bounceIcon</key>
		<true/>
		<key>playSound</key>
		<false/>
		<key>soundPath</key>
		<string>Whip.aiff</string>
	</dict>
	<key>JVNotificationSettings JVChatBuddyOffline</key>
	<dict>
		<key>playSound</key>
		<false/>
		<key>showBubble</key>
		<true/>
	</dict>
	<key>JVNotificationSettings JVChatBuddyOnline</key>
	<dict>
		<key>playSound</key>
		<false/>
		<key>showBubble</key>
		<true/>
	</dict>
	<key>JVNotificationSettings JVNickNameIdentifiedWithServer</key>
	<dict>
		<key>playSound</key>
		<false/>
		<key>showBubble</key>
		<true/>
	</dict>
	<key>JVNotificationSettings JVNewMemosFromServer</key>
	<dict>
		<key>playSound</key>
		<false/>
		<key>showBubble</key>
		<true/>
	</dict>
	<key>JVNotificationSettings JVChatFirstMessage</key>
	<dict>
		<key>bounceIcon</key>
		<true/>
		<key>showBubble</key>
		<true/>
		<key>showBubbleOnlyIfBackground</key>
		<true/>
		<key>playSound</key>
		<true/>
		<key>soundPath</key>
		<string>Stoof.aiff</string>
	</dict>
	<key>JVNotificationSettings JVChatMemberDemoted</key>
	<dict>
		<key>playSound</key>
		<true/>
		<key>soundPath</key>
		<string>Electronic Signal.aiff</string>
	</dict>
	<key>JVNotificationSettings JVChatMemberDevoiced</key>
	<dict>
		<key>playSound</key>
		<true/>
		<key>soundPath</key>
		<string>Rattle.aiff</string>
	</dict>
	<key>JVNotificationSettings JVChatMemberJoinedRoom</key>
	<dict>
		<key>playSound</key>
		<true/>
		<key>soundPath</key>
		<string>/System/Library/Sounds/Pop.aiff</string>
	</dict>
	<key>JVNotificationSettings JVChatMemberKicked</key>
	<dict>
		<key>playSound</key>
		<true/>
		<key>soundPath</key>
		<string>Explosion.aiff</string>
	</dict>
	<key>JVNotificationSettings JVChatMemberLeftRoom</key>
	<dict>
		<key>bounceIcon</key>
		<false/>
		<key>playSound</key>
		<true/>
		<key>soundPath</key>
		<string>Whip.aiff</string>
	</dict>
	<key>JVNotificationSettings JVChatMemberPromoted</key>
	<dict>
		<key>playSound</key>
		<true/>
		<key>soundPath</key>
		<string>DJ Scratch.aiff</string>
	</dict>
	<key>JVNotificationSettings JVChatMemberVoiced</key>
	<dict>
		<key>playSound</key>
		<true/>
		<key>soundPath</key>
		<string>Switch.aiff</string>
	</dict>
	<key>JVNotificationSettings JVChatMentioned</key>
	<dict>
		<key>bounceIcon</key>
		<true/>
		<key>bounceIconUntilFront</key>
		<true/>
		<key>playSound</key>
		<true/>
		<key>soundPath</key>
		<string>/System/Library/Sounds/Morse.aiff</string>
		<key>showBubble</key>
		<true/>
		<key>showBubbleOnlyIfBackground</key>
		<true/>
	</dict>
	<key>JVNotificationSettings JVChatRoomInvite</key>
	<dict>
		<key>playSound</key>
		<true/>
		<key>showBubble</key>
		<true/>
		<key>soundPath</key>
		<string>Beep 1.aiff</string>
	</dict>
	<key>JVOpenSafeFiles</key>
	<true/>
	<key>JVRemoveTransferedItems</key>
	<integer>1</integer>
	<key>JVSortRoomMembersByStatus</key>
	<true/>
	<key>JVChatDefaultStyle</key>
	<string>cc.javelin.colloquy.style.standard</string>
	<key>JVChatDefaultEmoticons cc.javelin.colloquy.style.bland</key>
	<string></string>
	<key>JVChatDefaultEmoticons cc.javelin.colloquy.style.bubbles</key>
	<string>cc.javelin.colloquy.emoticons.ichat</string>
	<key>JVChatDefaultEmoticons cc.javelin.colloquy.style.novel</key>
	<string></string>
	<key>JVChatDefaultEmoticons cc.javelin.colloquy.style.standard</key>
	<string>cc.javelin.colloquy.emoticons.standard</string>
	<key>cc.javelin.colloquy.style.blandWebKitDefaultFixedFontSize</key>
	<integer>9</integer>
	<key>cc.javelin.colloquy.style.blandWebKitDefaultFontSize</key>
	<integer>9</integer>
	<key>cc.javelin.colloquy.style.blandWebKitFixedFont</key>
	<string>Monaco</string>
	<key>cc.javelin.colloquy.style.blandWebKitMinimumFontSize</key>
	<integer>9</integer>
	<key>cc.javelin.colloquy.style.blandWebKitSansSerifFont</key>
	<string>Monaco</string>
	<key>cc.javelin.colloquy.style.blandWebKitSerifFont</key>
	<string>Monaco</string>
	<key>cc.javelin.colloquy.style.blandWebKitStandardFont</key>
	<string>Monaco</string>
	<key>cc.javelin.colloquy.style.bubblesWebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>cc.javelin.colloquy.style.bubblesWebKitFixedFont</key>
	<string>Helvetica</string>
	<key>cc.javelin.colloquy.style.bubblesWebKitMinimumFontSize</key>
	<integer>9</integer>
	<key>cc.javelin.colloquy.style.bubblesWebKitSansSerifFont</key>
	<string>Helvetica</string>
	<key>cc.javelin.colloquy.style.bubblesWebKitSerifFont</key>
	<string>Helvetica</string>
	<key>cc.javelin.colloquy.style.bubblesWebKitStandardFont</key>
	<string>Helvetica</string>
	<key>cc.javelin.colloquy.style.novelWebKitDefaultFontSize</key>
	<integer>14</integer>
	<key>cc.javelin.colloquy.style.novelWebKitFixedFont</key>
	<string>Times</string>
	<key>cc.javelin.colloquy.style.novelWebKitMinimumFontSize</key>
	<integer>9</integer>
	<key>cc.javelin.colloquy.style.novelWebKitSansSerifFont</key>
	<string>Times</string>
	<key>cc.javelin.colloquy.style.novelWebKitSerifFont</key>
	<string>Times</string>
	<key>cc.javelin.colloquy.style.novelWebKitStandardFont</key>
	<string>Times</string>
	<key>cc.javelin.colloquy.style.standardWebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>cc.javelin.colloquy.style.standardWebKitFixedFont</key>
	<string>Lucida Grande</string>
	<key>cc.javelin.colloquy.style.standardWebKitMinimumFontSize</key>
	<integer>9</integer>
	<key>cc.javelin.colloquy.style.standardWebKitSansSerifFont</key>
	<string>Lucida Grande</string>
	<key>cc.javelin.colloquy.style.standardWebKitSerifFont</key>
	<string>Lucida Grande</string>
	<key>cc.javelin.colloquy.style.standardWebKitStandardFont</key>
	<string>Lucida Grande</string>
	<key>WebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>WebKitFixedFont</key>
	<string>Lucida Grande</string>
	<key>WebKitMinimumFontSize</key>
	<integer>9</integer>
	<key>WebKitSansSerifFont</key>
	<string>Lucida Grande</string>
	<key>WebKitSerifFont</key>
	<string>Lucida Grande</string>
	<key>WebKitStandardFont</key>
	<string>Lucida Grande</string>
	<key>WebKitJavaScriptEnabled</key>
	<true/>
	<key>NSColorPanelMode</key>
	<string>5</string>
</dict>
</plist>