<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>JVChatDefaultStyle</key>
	<string>cc.javelin.colloquy.style.standard</string>
	<key>JVChatDefaultEmoticons</key>
	<string>cc.javelin.colloquy.emoticons.standard</string>
	<key>JVChatEncoding</key>
	<integer>5</integer>
	<key>MVChatHighlightNames</key>
	<array></array>
	<key>MVChatBookmarks</key>
	<array></array>
	<key>JVEnableAutomaticSoftwareUpdateCheck</key>
	<true/>
	<key>JVChatSpellChecking</key>
	<true/>
	<key>JVChatMaximumHistory</key>
	<integer>15</integer>
	<key>MVChatSendOnReturn</key>
	<true/>
	<key>MVChatActionOnReturn</key>
	<false/>
	<key>MVChatSendOnEnter</key>
	<false/>
	<key>MVChatActionOnEnter</key>
	<true/>
	<key>MVChatBounceIconOnMessage</key>
	<true/>
	<key>MVChatActionSounds</key>
	<dict>
		<key>MVChatAdditionalMessagesAction</key>
		<string>/System/Library/Sounds/Funk.aiff</string>
		<key>MVChatFisrtMessageAction</key>
		<string>Stoof.aiff</string>
		<key>MVChatFriendOfflineAction</key>
		<string>Whip.aiff</string>
		<key>MVChatFriendOnlineAction</key>
		<string>Cymbal.aiff</string>
		<key>MVChatInlineMessageBeepAction</key>
		<string>/System/Library/Sounds/Tink.aiff</string>
		<key>MVChatMemberDemotedAction</key>
		<string>Electronic Signal.aiff</string>
		<key>MVChatMemberDevoicedAction</key>
		<string>Rattle.aiff</string>
		<key>MVChatMemberJoinedRoomAction</key>
		<string>/System/Library/Sounds/Pop.aiff</string>
		<key>MVChatMemberKickedAction</key>
		<string>Explosion.aiff</string>
		<key>MVChatMemberLeftRoomAction</key>
		<string>Clap.aiff</string>
		<key>MVChatMemberPromotedAction</key>
		<string>DJ Scratch.aiff</string>
		<key>MVChatMemberVoicedAction</key>
		<string>Pop.aiff</string>
		<key>MVChatMentionedAction</key>
		<string>Beep 2.aiff</string>
	</dict>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>0</integer>
	</dict>
	<key>NSColorPickerListDefaults</key>
	<string>1Chat</string>
</dict>
</plist>
