/* Generic items for all styles, these can be overridden */
body {
	background-color: white;
	color: black;
}

.hidden {
	position: fixed;
	top: -900px;
	left: -900px;
}

.ignore {
	display: none;
}

.error {
	color: #aaa;
}

.error:before {
	content: "[";
}

.error:after {
	content: "]";
}

/* For the topic floater */
#topic-floater {
	z-index: 100;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba( 255, 255, 255, 0.9 );
	color: black;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.6 );
	font-family: Lucida Grande;
	font-size: 11px;
	padding: 5px 5px 10px 10px;
	text-align: center;
}

#topic-floater .close {
	float: right;
	width: 12px;
	height: 12px;
	margin: 0 0 5px 5px;
}

/* The rest of this file is for scripts, this will change in the future!
 * Having script specific things in Colloquy is bad, bad, bad! */

/* For the iTunes script links */
.itunes > * {
	text-decoration: none !important;
	color: inherit !important
}

.itunes > a:hover {
	text-decoration: underline !important;
}

/* For the TracLinks script links */
.traclink :link, .traclink :visited {
	text-decoration: none;
	color: #b00;
	border-bottom: 1px dotted #bbb;
}

.traclink :link:hover, .traclink :visited:hover {
	background-color: #eee;
	color: #555;
}