{
	smile = (":)", ":-)", "=)", "=-)", ":o)", ":}", ":-}", "=}", "=-}", ":]", ":-]", "=]", "=-]");
	frown = (":(", ":-(", ";(", ";-(", "=(", "=-(", ":((", ";((", ":o(", ";o(", ":[", ":-[", ";[", ";-[", "D:", "D-:", "D;", "D-;", "D=", "D-=");
	wink = ("^-~", "^.~", "^_~", "^,~", "^_-", "^.-", "^,-", ";)", ";-)", ";]", ";-]", ";}", ";-}",);
	angry = (":x", ":-x", ":X", ":-X", ";x", ";-x", ";X", ";-X", "=x", "=-x", "=X", "=-X", "x(", "x-(", "X(", "X-(", ">.<", ">_<", ">,<", "><", ">:|", ">:-|", ">=|", ">=-|", ":<", ":-<", "=<", "=-<", ">:(", ">:-(", ">=(", ">=-(");
	happy = (":D", ":-D", ";D", ";-D", "=-D", "=D", ":))", ";))", ":*)", ":-*)", ";*)", ";-*)", ":E", ":-E", "=-E", "=E", ";E", ";-E");
	razz = (":p", ":-p", ";p", ";-p", ":P", ":-P", ";P", ";-P", "=P", "=-P", "=p", "=-p", ":oP", ":op", ";oP", ";op", "d:P", "q:P", "d;P", "q;P", "d:-P", "q:-P", "d;-P", "q;-P", "d=P", "q=P", "d=-P", "q=-P");
	annoyed = (":/", ":-/", ";/", ";-/", ":\\", ":-\\", ";\\", ";-\\", ":\\", ":-\\", ";\\", ";-\\", "=/", "=-/", "=\\", "=-\\", "=\\", "=-\\");
	stoic = (":|", ":-|", ";|", ";-|", "=|", "=-|", "-.-", "-.-~", "-_-");
	cool = ("8)", "8-)", "B-)", "B)", "8]", "8-]", "B-]", "B]", "8}", "8-}", "B-}", "B}");
	suprised = (":O", ":-O", "=O", "=-O", ":o", ":-o", "=o", "=-o", ";o", ";-o", ";O", ";-O", ":C", ":-C", "=C", "=-C", ":c", ":-c", "=c", "=-c", ";c", ";-c", ";C", ";-C");
	confused = ("o.O", "O.o", "0.o", "o.0", "o_O", "O_o", "o_0", "0_o");
	shocked = ("8|", "8-|", "|8", "|-8", "O_O", "o_o", "O.O", "o.o", "0.0", "0_0");
	shockedfrown = ("8(", ")8", "8-(", ")-8");
	sarcasm = ("9.9", "c.c", "C.C", "9,9", "c,c", "C,C", "9_9", "c_c", "C_C", ":>", ":->", ";>", ";->", "=->");
	anime = ("^-^", "^_^", "^,^", "^.^", "(^3^)");
	angel = ("O:)", "O:-)", "O;)", "O;-)", "O=)", "O=-)", "o:)", "o:-)", "o;)", "o;-)", "o=)", "o=-)", "0:)", "0:-)", "0;)", "0;-)", "0=)", "0=-)");
	evil = (">:)", ">:-)", ">;)", ">;-)", ">=)", ">=-)", ">=>", ">=->", ">:D", ">:-D", ">=D", ">=-D");
	dorkgrin = ("XD", "xD");
	dead = ("x.x", "X.X","x_x", "X_X", "X|", "x|", "X-|", "x-|");
	hat = ("d:)", "d:-)", "q:)", "q:-)", "d;)", "d;-)", "q;)", "q;-)", "d=)", "d=-)", "q=)", "q=-)", "q=]", "q=-]", "d=]", "d=-]", "q:]", "q:-]", "q;]", "q;-]", "d:]", "d:-]", "d;]", "d;-]");
	headphones = ("[:)", "[;)", "[=)", "[:-)", "[;-)", "[=-)");
	frosty = ("=^)", ":^)", ";^)");
	pumpkin = ("(~~)");
	kirby = ("<('.'<)", "<('_'<)", "<('-'<)", "<(','<)", "<(''<)", "<(\"<)");
	pikachu = ("(o^.^o)", "(o^_^o)", "(o^-^o)", "(o^,^o)");
	flag = ("**==");
	rose = ("@};-", "@>-", "@>--", "-<@", "--<@");
}