<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>colloquyStyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>Chat style</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>coSt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>colloquyEmoticons</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>Chat emoticons</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>coEm</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>colloquyTranscript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Generic.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Chat transcript</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>coTr</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Colloquy</string>
	<key>CFBundleGetInfoString</key>
	<string>Colloquy 2.0; Copyright © 2003, Timothy Hatcher</string>
	<key>CFBundleIconFile</key>
	<string>Colloquy</string>
	<key>CFBundleIdentifier</key>
	<string>cc.javelin.colloquy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Colloquy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>coRC</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Internet Relay Chat Server</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>irc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2B47</string>
	<key>NSMainNibFile</key>
	<string>Colloquy</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
