<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>style</key>
		<string>body { color: %@ !important; }</string>
		<key>default</key>
		<string>#000000</string>
		<key>description</key>
		<string>Main text</string>
		<key>type</key>
		<string>color</string>
	</dict>
	<dict>
		<key>style</key>
		<string>body { background-color: %@ !important; }</string>
		<key>default</key>
		<string>#ffffff</string>
		<key>description</key>
		<string>Background</string>
		<key>type</key>
		<string>color</string>
	</dict>
	<dict>
		<key>style</key>
		<string>a:link { color: %@; }</string>
		<key>default</key>
		<string>#0000aa</string>
		<key>description</key>
		<string>Links</string>
		<key>type</key>
		<string>color</string>
	</dict>
	<dict>
		<key>style</key>
		<array>
			<string>a:link { text-decoration: underline; }</string>
			<string>a:link { text-decoration: none; }</string>
		</array>
		<key>default</key>
		<integer>0</integer>
		<key>description</key>
		<string>Underline links</string>
		<key>type</key>
		<string>list</string>
		<key>options</key>
		<array>
			<string>Yes</string>
			<string>No</string>
		</array>
	</dict>
	<dict>
		<key>style</key>
		<array>
			<string>.reason { display: inline; }</string>
			<string>.reason { display: none; }</string>
		</array>
		<key>default</key>
		<integer>0</integer>
		<key>description</key>
		<string>Display event reasons</string>
		<key>type</key>
		<string>list</string>
		<key>options</key>
		<array>
			<string>Yes</string>
			<string>No</string>
		</array>
	</dict>
</array>
</plist>