(
	abstracted,
	accelerated,
	accesses,
	acclimated,
	accompanied,
	accomplished,
	accounted,
	accumulated,
	achieved,
	acquired,
	acquires,
	acted,
	activated,
	actuated,
	adapted,
	added,
	addressed,
	adds,
	adhered,
	adjusted,
	adjusts,
	administered,
	administers,
	admitted,
	adopted,
	adopts,
	advanced,
	advertised,
	advised,
	advises,
	advocated,
	advocates,
	affected,
	affirms,
	agreed,
	agrees,
	aided,
	aids,
	aired,
	alerts,
	aligns,
	allocated,
	allocates,
	allots,
	alphabetized,
	altered,
	alters,
	amended,
	amends,
	amplified,
	analyzed,
	analyzes,
	annotates,
	answered,
	answers,
	anticipated,
	anticipates,
	appeals,
	applied,
	applies,
	appointed,
	appoints,
	appraised,
	appraises,
	apprises,
	approached,
	approved,
	approves,
	arbitrated,
	arbitrates,
	argued,
	arranged,
	arranges,
	arrests,
	ascertained,
	ascertains,
	asked,
	assembled,
	assembles,
	assessed,
	assesses,
	assigned,
	assigns,
	assisted,
	assumed,
	assumes,
	assured,
	assures,
	attaches,
	attained,
	attended,
	attends,
	attracted,
	audited,
	audits,
	augmented,
	authored,
	authorized,
	authorizes,
	automated,
	avail,
	awarded,
	awards,
	balanced,
	balances,
	bargained,
	bargains,
	batches,
	began,
	bills,
	bolstered,
	boosted,
	borrowed,
	bought,
	bowed,
	bows,
	briefed,
	brings,
	broadened,
	brought,
	budgeted,
	budgets,
	built,
	buys,
	calculated,
	calculates,
	calibrates,
	called,
	cancels,
	canvassed,
	capitalized,
	captured,
	cared,
	carried,
	carries,
	cataloged,
	catalogues,
	catered,
	caught,
	caused,
	centers,
	centralized,
	certifies,
	chaired,
	challenged,
	changed,
	changes,
	channeled,
	charged,
	charted,
	charts,
	checked,
	checks,
	chimed,
	chimes,
	chooses,
	chopped,
	chose,
	circulated,
	circulates,
	claims,
	clarified,
	clarifies,
	classified,
	classifies,
	cleaned,
	cleans,
	cleared,
	clears,
	climbs,
	closed,
	closes,
	coached,
	coaches,
	coauthored,
	codes,
	collaborated,
	collaborates,
	collated,
	collates,
	collected,
	collects,
	combined,
	combines,
	comforted,
	comforts,
	commissioned,
	committed,
	communicated,
	compared,
	compares,
	compiled,
	compiles,
	completed,
	complied,
	composed,
	composes,
	computed,
	computes,
	conceived,
	conceptualized,
	concluded,
	condensed,
	condenses,
	conducted,
	conferred,
	confers,
	confirms,
	confused,
	confuses,
	conserved,
	considered,
	considers,
	consolidated,
	consolidates,
	constructed,
	constructs,
	consulted,
	consults,
	contacted,
	continued,
	contracted,
	contracts,
	contrasted,
	contributed,
	contrived,
	controlled,
	controls,
	converted,
	converts,
	conveyed,
	conveys,
	convinced,
	cooperated,
	coordinated,
	copied,
	copies,
	corrected,
	corrects,
	correlated,
	correlates,
	corresponded,
	corresponds,
	counseled,
	counsels,
	counted,
	counts,
	crafted,
	created,
	creates,
	cried,
	cries,
	critiqued,
	cuddles,
	cultivated,
	customized,
	cut,
	danced,
	dances,
	dealt,
	debated,
	debates,
	debugged,
	decentralized,
	decided,
	decides,
	deciphers,
	decreased,
	defends,
	deferred,
	defined,
	defines,
	delegated,
	delegates,
	deletes,
	delivered,
	delivers,
	demonstrated,
	demonstrates,
	demotes,
	deploys,
	depreciated,
	described,
	describes,
	designated,
	designates,
	designed,
	designs,
	destroys,
	detailed,
	detains,
	detected,
	detects,
	determined,
	determines,
	developed,
	develops,
	devised,
	devises,
	devoted,
	diagnosed,
	diagnoses,
	diagrammed,
	digested,
	digs,
	diminished,
	directed,
	directs,
	disburses,
	disciplines,
	disclosed,
	discounted,
	discovered,
	discovers,
	discriminated,
	discusses,
	disinfects,
	disliked,
	dislikes,
	dismantles,
	dispatched,
	dispatches,
	dispensed,
	dispenses,
	displayed,
	displays,
	dissected,
	dissembled,
	disseminates,
	distinguished,
	distributed,
	distributes,
	diversified,
	diverted,
	divested,
	divides,
	documented,
	documents,
	doubled,
	drafted,
	drafts,
	dramatized,
	draws,
	drives,
	dropped,
	dumps,
	duplicates,
	earned,
	eased,
	edited,
	edits,
	educated,
	effected,
	elected,
	eliminated,
	eliminates,
	emphasized,
	employed,
	employs,
	enabled,
	encouraged,
	endorsed,
	enforced,
	enforces,
	engaged,
	engineered,
	enhanced,
	enjoyed,
	enlarged,
	enlightened,
	enlisted,
	enriched,
	ensured,
	entered,
	enters,
	entertained,
	escorts,
	established,
	estimated,
	estimates,
	evaluated,
	evaluates,
	examined,
	examines,
	exceeded,
	excelled,
	exchanged,
	exchanges,
	executed,
	executes,
	exempted,
	exercised,
	exercises,
	exhibits,
	expanded,
	expands,
	expedited,
	expedites,
	experimented,
	experiments,
	explained,
	explains,
	explored,
	exposed,
	expressed,
	extended,
	extends,
	extracted,
	extracts,
	extrapolated,
	fabricated,
	fabricates,
	facilitated,
	familiarized,
	fashioned,
	fastens,
	feeds,
	fielded,
	figured,
	figures,
	files,
	fills,
	finalized,
	financed,
	finds,
	fingerprints,
	fit,
	fixed,
	flags,
	focused,
	forecasted,
	forecasts,
	formalized,
	formed,
	formulated,
	formulates,
	fortified,
	forwarded,
	forwards,
	fostered,
	found,
	founded,
	framed,
	frames,
	frowned,
	frowns,
	fucks,
	fulfilled,
	functioned,
	furnished,
	furnishes,
	gained,
	gathered,
	gathers,
	gauged,
	gauges,
	gave,
	generated,
	giggled,
	giggles,
	goes,
	governed,
	governs,
	grabbed,
	graded,
	grades,
	granted,
	greeted,
	grins,
	grossed,
	grouped,
	grumbled,
	grumbles,
	guided,
	guides,
	handled,
	hastened,
	hated,
	hates,
	hauls,
	headed,
	heard,
	hears,
	heightened,
	helped,
	highlighted,
	hiked,
	hired,
	hires,
	holds,
	honed,
	hoped,
	hopes,
	hosted,
	housed,
	huggles,
	hunted,
	hypothesized,
	identified,
	identifies,
	illuminated,
	illustrated,
	illustrates,
	imagined,
	impaled,
	impales,
	implemented,
	implements,
	imports,
	imposes,
	improved,
	improvised,
	improvises,
	inaugurated,
	included,
	incorporated,
	increased,
	incurred,
	indexed,
	indexes,
	indicated,
	indicates,
	indicts,
	indoctrinated,
	induced,
	influenced,
	informed,
	informs,
	initiated,
	innovated,
	innovates,
	inoculates,
	inquired,
	inserts,
	inspected,
	inspects,
	inspired,
	installed,
	installs,
	instigated,
	instilled,
	instituted,
	instructed,
	instructs,
	insured,
	integrated,
	interacted,
	interfaced,
	interpreted,
	interprets,
	interviewed,
	interviews,
	introduced,
	invented,
	inventoried,
	inventories,
	invents,
	invested,
	investigated,
	investigates,
	invited,
	invoices,
	involved,
	isolated,
	issued,
	issues,
	itemizes,
	jogs,
	joined,
	joins,
	judged,
	judges,
	justifies,
	keeps,
	kept,
	kicked,
	kicks,
	killed,
	kills,
	kissed,
	kisses,
	labored,
	laughed,
	laughs,
	launched,
	lays,
	leads,
	learned,
	learns,
	leaves,
	lectured,
	led,
	left,
	licensed,
	licks,
	lifted,
	lifts,
	lightened,
	liked,
	likes,
	lines,
	liquidated,
	listened,
	listens,
	lists,
	litigated,
	loads,
	lobbied,
	localized,
	located,
	locates,
	logged,
	logs,
	looked,
	loved,
	loves,
	lubricates,
	machines,
	made,
	mails,
	maintained,
	managed,
	manipulated,
	manipulates,
	manufacture,
	mapped,
	maps,
	marketed,
	matches,
	mats,
	maximized,
	measured,
	measures,
	mediated,
	mediates,
	medicates,
	mends,
	merchandised,
	merged,
	merges,
	met,
	methodized,
	minimized,
	mixes,
	mobilized,
	modeled,
	moderated,
	modernized,
	modified,
	modifies,
	monitored,
	monitors,
	motivated,
	mounts,
	moved,
	moves,
	multiplied,
	multiplies,
	nailed,
	nails,
	named,
	narrated,
	navigated,
	needed,
	needs,
	negotiated,
	negotiates,
	netted,
	nodded,
	nods,
	notes,
	noticed,
	notifies,
	nullifies,
	nurtured,
	observed,
	observes,
	obtained,
	obtains,
	offered,
	offset,
	opened,
	opens,
	operated,
	operates,
	operationalized,
	orchestrated,
	ordered,
	orders,
	organized,
	organizes,
	oriented,
	originated,
	originates,
	outlined,
	outlines,
	overcame,
	overhauled,
	overhauls,
	oversaw,
	oversees,
	packages,
	paid,
	painted,
	paints,
	participated,
	passed,
	pastes,
	patrols,
	patterned,
	pays,
	penalized,
	perceived,
	performed,
	permitted,
	persuaded,
	persuades,
	phased,
	photographed,
	photographs,
	picks,
	piloted,
	pinpointed,
	pioneered,
	placed,
	places,
	planned,
	plans,
	played,
	plays,
	policed,
	polled,
	ponders,
	posts,
	pounced,
	pounces,
	predicted,
	predicts,
	prepared,
	prescribed,
	prescribes,
	presented,
	presents,
	preserved,
	preserves,
	presided,
	prevailed,
	prevented,
	prevents,
	priced,
	printed,
	prints,
	prioritized,
	probed,
	processed,
	procured,
	procures,
	produced,
	produces,
	profiled,
	profited,
	programmed,
	programs,
	prohibited,
	projected,
	promoted,
	promotes,
	prompted,
	proofread,
	proofreads,
	proposed,
	proposes,
	protected,
	protects,
	proved,
	provided,
	publicized,
	published,
	pulled,
	pulls,
	pummeled,
	pummels,
	punched,
	punches,
	purchased,
	purchases,
	pursued,
	pushed,
	pushes,
	put,
	qualified,
	quantified,
	quantifies,
	questioned,
	questions,
	quickened,
	quoted,
	quotes,
	raised,
	ran,
	ranked,
	ranks,
	rated,
	rates,
	reached,
	reacted,
	read,
	reads,
	realized,
	reasoned,
	rebuilds,
	received,
	receives,
	recognized,
	recommended,
	recommends,
	reconciled,
	reconciles,
	reconstructs,
	recorded,
	records,
	recovered,
	recruited,
	rectified,
	redesigned,
	reduced,
	reduces,
	referred,
	refers,
	refined,
	refines,
	regained,
	registers,
	regulated,
	regulates,
	rehabilitated,
	reinforced,
	reinforces,
	reinstated,
	rejected,
	rejects,
	related,
	releases,
	remedied,
	remembered,
	remembers,
	remits,
	remodeled,
	rendered,
	renegotiated,
	renovated,
	reorganized,
	repaired,
	repairs,
	replaced,
	replaces,
	reported,
	reports,
	represented,
	represents,
	requested,
	requisitions,
	rescinds,
	rescued,
	rescues,
	researched,
	researches,
	reshaped,
	resolved,
	resolves,
	responded,
	restored,
	restores,
	restrains,
	restructured,
	resulted,
	retained,
	retains,
	retrieved,
	retrieves,
	returned,
	returns,
	revamped,
	revealed,
	reversed,
	reviewed,
	reviews,
	revised,
	revises,
	revitalized,
	rewarded,
	rewards,
	routed,
	routes,
	runs,
	safeguarded,
	salvaged,
	salvages,
	samples,
	saved,
	saw,
	scanned,
	scans,
	scheduled,
	schedules,
	scores,
	scratched,
	scratches,
	screened,
	screens,
	seals,
	searched,
	searches,
	secured,
	secures,
	sees,
	segmented,
	selected,
	selects,
	sells,
	sends,
	sent,
	separated,
	separates,
	served,
	serves,
	serviced,
	services,
	set,
	settled,
	shaped,
	shared,
	sharpens,
	shipped,
	ships,
	shoots,
	shored,
	shortened,
	shot,
	showed,
	shows,
	shrank,
	shrugged,
	shrugs,
	sifted,
	signed,
	signs,
	simplified,
	simulated,
	sketched,
	slammed,
	slams,
	slapped,
	slaps,
	smelled,
	smells,
	smiles,
	smirked,
	smirks,
	smoothed,
	sneezes,
	snickered,
	snickers,
	sold,
	solicits,
	solved,
	solves,
	sorted,
	sorts,
	sought,
	spat,
	spearheaded,
	specialized,
	specified,
	specifies,
	speculated,
	spells,
	spits,
	splices,
	spoke,
	sponsored,
	spread,
	stabilized,
	stacks,
	staffed,
	staged,
	stamps,
	standardized,
	started,
	starts,
	stated,
	steered,
	sterilizes,
	stimulated,
	stimulates,
	stopped,
	stops,
	stores,
	straightened,
	strategized,
	streamlined,
	strengthened,
	stressed,
	stripped,
	structured,
	studied,
	studies,
	subdues,
	submits,
	submitted,
	substantiated,
	substituted,
	subtotals,
	subtracts,
	suggested,
	suggests,
	summarized,
	summarizes,
	superseded,
	supervised,
	supervises,
	supplied,
	supplies,
	supported,
	surmounted,
	surpassed,
	surveyed,
	surveys,
	sustained,
	symbolized,
	synchronized,
	synthesized,
	systematized,
	systematizes,
	tabulated,
	tabulates,
	tailored,
	targeted,
	taught,
	teaches,
	tends,
	terminated,
	terminates,
	tested,
	testified,
	testifies,
	tests,
	thinks,
	thought,
	throttled,
	throttles,
	tightened,
	tipped,
	tips,
	took,
	totaled,
	totals,
	toured,
	traced,
	traces,
	tracked,
	traded,
	trades,
	trained,
	trains,
	transacted,
	transacts,
	transcribed,
	transcribes,
	transferred,
	transfers,
	transformed,
	translated,
	translates,
	transmits,
	transmitted,
	transported,
	transposes,
	traveled,
	treated,
	treats,
	tried,
	tries,
	tripled,
	trounced,
	trounces,
	trout,
	turns,
	tutored,
	tutors,
	typed,
	types,
	uncovered,
	underlines,
	undertook,
	unearthed,
	unfurled,
	unified,
	united,
	unloads,
	updated,
	updates,
	upgraded,
	upheld,
	uppercuts,
	urges,
	used,
	uses,
	ushers,
	utilized,
	validated,
	valued,
	verbalized,
	verified,
	verifies,
	viewed,
	visited,
	visualized,
	vitalized,
	volunteered,
	waited,
	waits,
	wanted,
	wants,
	washes,
	watched,
	watches,
	waved,
	waves,
	waxes,
	weighed,
	weighs,
	welcomed,
	went,
	widened,
	wished,
	wishes,
	witnessed,
	won,
	wondered,
	wonders,
	worked,
	works,
	writes,
	wrote,
	yawned,
	yawns,
	"'s",
	"'"
)
