(
    accesses,
    acquires,
    adds,
    adjusts,
    administers,
    adopts,
    advises,
    advocates,
    affirms,
    aids,
    alerts,
    aligns,
    allocates,
    allots,
    alters,
    amends,
    analyzes,
    annotates,
    answers,
    anticipates,
    appeals,
    applies,
    appoints,
    appraises,
    apprises,
    approves,
    arbitrates,
    arranges,
    arrests,
    ascertains,
    assembles,
    assesses,
    assigns,
    assumes,
    assures,
    attaches,
    attends,
    audits,
    authorizes,
    awards,
    balances,
    bargains,
    batches,
    bills,
    budgets,
    buys,
    calculates,
    calibrates,
    cancels,
    carries,
    catalogues,
    centers,
    certifies,
    changes,
    charts,
    checks,
    chooses,
    circulates,
    claims,
    clarifies,
    classifies,
    cleans,
    clears,
    climbs,
    closes,
    coaches,
    codes,
    collaborates,
    collates,
    collects,
    combines,
    comforts,
    compares,
    compiles,
    composes,
    computes,
    condenses,
    confers,
    confirms,
    consolidates,
    constructs,
    consults,
    contracts,
    controls,
    converts,
    conveys,
    copies,
    corrects,
    correlates,
    corresponds,
    counsels,
    counts,
    creates,
    debates,
    decides,
    deciphers,
    defends,
    defines,
    delegates,
    deletes,
    delivers,
    demonstrates,
    demotes,
    deploys,
    describes,
    designates,
    designs,
    destroys,
    detains,
    detects,
    determines,
    develops,
    devises,
    diagnoses,
    digs,
    directs,
    disburses,
    disciplines,
    discovers,
    discusses,
    disinfects,
    dismantles,
    dispatches,
    dispenses,
    displays,
    disseminates,
    distributes,
    divides,
    documents,
    drafts,
    draws,
    drives,
    dumps,
    duplicates,
    edits,
    eliminates,
    employs,
    enforces,
    enters,
    enterains,
    escorts,
    estimates,
    evaluates,
    examines,
    exchanges,
    executes,
    exercises,
    exhibits,
    expands,
    expedites,
    experiments,
    explains,
    extends,
    extracts,
    fabricates,
    fastens,
    feeds,
    figures,
    files,
    fills,
    finds,
    fingerprints,
    flags,
    forecasts,
    formulates,
    forwards,
    frames,
    furnishes,
    gathers,
    gauges,
    governs,
    grades,
    guides,
    hauls,
    hires,
    identifies,
    illustrates,
    implements,
    imports,
    imposes,
    improvises,
    indexes,
    indicts,
    indicates,
    informs,
    innovates,
    inoculates,
    inserts,
    inspects,
    installs,
    instructs,
    interprets,
    interviews,
    inventories,
    invents,
    investigates,
    invoices,
    issues,
    itemizes,
    joins,
    judges,
    justifies,
    lays,
    leads,
    lifts,
    lines,
    lists,
    listens,
    loads,
    locates,
    logs,
    lubricates,
    machines,
    mails,
    manipulates,
    manufacture,
    maps,
    matches,
    mats,
    measures,
    mediates,
    medicates,
    mends,
    merges,
    mixes,
    modifies,
    monitors,
    mounts,
    moves,
    multiplies,
    negotiates,
    notes,
    notifies,
    nullifies,
    observes,
    obtains,
    opens,
    operates,
    orders,
    organizes,
    originates,
    outlines,
    overhauls,
    oversees,
    packages,
    paints,
    pastes,
    patrols,
    pays,
    persuades,
    photographs,
    picks,
    places,
    plans,
    posts,
    predicts,
    prescribes,
    presents,
    preserves,
    prevents,
    prints,
    procures,
    produces,
    programs,
    promotes,
    proofreads,
    proposes,
    protects,
    pulls,
    purchases,
    pushes,
    quantifies,
    questions,
    quotes,
    ranks,
    rates,
    reads,
    rebuilds,
    receives,
    recommends,
    reconciles,
    reconstructs,
    records,
    reduces,
    refers,
    refines,
    registers,
    regulates,
    reinforces,
    rejects,
    releases,
    remits,
    repairs,
    replaces,
    reports,
    represents,
    requisitions,
    rescinds,
    rescues,
    researches,
    resolves,
    restores,
    restrains,
    retains,
    retrieves,
    returns,
    reviews,
    revises,
    rewards,
    routes,
    salvages,
    samples,
    scans,
    schedules,
    scores,
    screens,
    seals,
    searches,
    secures,
    selects,
    sells,
    sends,
    separates,
    serves,
    services,
    sharpens,
    ships,
    shows,
    signs,
    solicits,
    solves,
    sorts,
    specifies,
    spells,
    splices,
    stacks,
    stamps,
    sterilizes,
    stimulates,
    stores,
    studies,
    subdues,
    submits,
    subtotals,
    subtracts,
    suggests,
    summarizes,
    supervises,
    supplies,
    surveys,
    systematizes,
    tabulates,
    teaches,
    tends,
    terminates,
    testifies,
    tests,
    totals,
    traces,
    trades,
    trains,
    transacts,
    transcribes,
    transfers,
    translates,
    transmits,
    transposes,
    treats,
    turns,
    tutors,
    types,
    underlines,
    updates,
    unloads,
    urges,
    ushers,
    verifies,
    washes,
    waxes,
    weighs,
    writes,
    waves,
    kicks,
    kisses,
    pounces,
    slaps,
    stops,
    shoots,
    throttles,
    kills,
    nails,
    slams,
    trounces,
    impales,
    pummels,
    confuses,
    huggles,
    cuddles,
    sneezes,
    smiles,
    grins,
    ponders,
    holds,
    fucks,
    licks,
    runs,
    jogs,
    sees,
    saw,
    hears,
    heard,
    watches,
    watched,
    wants,
    wanted,
    waits,
    waited,
    nods,
    nodded,
    laughs,
    laughed,
    giggles,
    giggled,
    snickers,
    snickered,
    smirks,
    smirked,
    pushes,
    pushed,
    pulls,
    pulled,
    dances,
    danced,
    agrees,
    agreed,
    dislikes,
    disliked,
    likes,
    liked,
    shrugs,
    shrugged,
    yawns,
    yawned,
    loves,
    loved,
    thinks,
    thought,
    leaves,
    left,
    needs,
    needed,
    starts,
    started,
    bows,
    bowed,
    tries,
    tried,
    opens,
    opened,
    closes,
    closed,
    "trout slaps",
    "trout slapped",
    smells,
    smelled,
    frowns,
    frowned,
    uppercuts,
    uppercuted,
    punches,
    punched,
    spits,
    spat,
    cries,
    cried,
    wonders,
    wondered,
    keeps,
    kept,
    tips,
    tipped,
    grumbles,
    grumbled,
	brings,
	brought,
	hopes,
	hoped,
	remembers,
	remembered,
	chimes,
	chimed,
	hates,
	hated,
	considers,
	considered,
	wishes,
	wished,
	uses,
	used,
	goes,
	went,
	learns,
	learned,
	scratches,
	works,
	worked,
	scratched,
    accelerated,
    acclimated,
    accompanied,
    accomplished,
    achieved,
    acquired,
    acted,
    activated,
    actuated,
    adapted,
    added,
    addressed,
    adhered,
    adjusted,
    administered,
    admitted,
    adopted,
    advanced,
    advertised,
    advised,
    advocated,
    aided,
    aired,
    affected,
    allocated,
    altered,
    amended,
    amplified,
    analyzed,
    answered,
    anticipated,
    appointed,
    appraised,
    approached,
    approved,
    arbitrated,
    arranged,
    ascertained,
    asked,
    assembled,
    assigned,
    assumed,
    assessed,
    assisted,
    attained,
    attracted,
    audited,
    augmented,
    authored,
    authorized,
    automated,
    awarded,
    avail,
    balanced,
    bargained,
    borrowed,
    bought,
    broadened,
    budgeted,
    built,
    calculated,
    canvassed,
    capitalized,
    captured,
    carried,
    cataloged,
    centralized,
    challenged,
    chaired,
    changed,
    channeled,
    charted,
    checked,
    chose,
    circulated,
    clarified,
    classified,
    cleared,
    closed,
    "co-authored",
    cold,
    called,
    collaborated,
    collected,
    combined,
    commissioned,
    committed,
    communicated,
    compared,
    compiled,
    complied,
    completed,
    composed,
    computed,
    conceived,
    conceptualized,
    concluded,
    condensed,
    conducted,
    conferred,
    consolidated,
    constructed,
    consulted,
    contracted,
    contrasted,
    contributed,
    contrived,
    controlled,
    converted,
    convinced,
    coordinated,
    corrected,
    corresponded,
    counseled,
    counted,
    created,
    critiqued,
    cultivated,
    cut,
    debugged,
    decided,
    decentralized,
    decreased,
    deferred,
    defined,
    delegated,
    delivered,
    demonstrated,
    depreciated,
    described,
    designated,
    designed,
    determined,
    developed,
    devised,
    devoted,
    diagrammed,
    directed,
    disclosed,
    discounted,
    discovered,
    dispatched,
    displayed,
    dissembled,
    distinguished,
    distributed,
    diversified,
    divested,
    documented,
    doubled,
    drafted,
    earned,
    eased,
    edited,
    effected,
    elected,
    eliminated,
    employed,
    enabled,
    encouraged,
    endorsed,
    enforced,
    engaged,
    engineered,
    enhanced,
    enlarged,
    enriched,
    entered,
    entertained,
    established,
    estimated,
    evaluated,
    examined,
    exceeded,
    exchanged,
    executed,
    exempted,
    exercised,
    expanded,
    expedited,
    explained,
    exposed,
    extended,
    extracted,
    extrapolated,
    facilitated,
    familiarized,
    fashioned,
    fielded,
    figured,
    financed,
    fit,
    focused,
    forecasted,
    formalized,
    formed,
    formulated,
    fortified,
    found,
    founded,
    framed,
    fulfilled,
    functioned,
    furnished,
    gained,
    gathered,
    gauged,
    gave,
    generated,
    governed,
    graded,
    granted,
    greeted,
    grouped,
    guided,
    handled,
    headed,
    hired,
    hosted,
    identified,
    illustrated,
    illuminated,
    implemented,
    improved,
    improvised,
    inaugurated,
    indoctrinated,
    increased,
    incurred,
    induced,
    influenced,
    informed,
    initiated,
    innovated,
    inquired,
    inspected,
    inspired,
    installed,
    instigated,
    instilled,
    instituted,
    instructed,
    insured,
    interfaced,
    interpreted,
    interviewed,
    introduced,
    invented,
    inventoried,
    invested,
    investigated,
    invited,
    involved,
    isolated,
    issued,
    joined,
    judged,
    launched,
    lectured,
    led,
    lightened,
    liquidated,
    litigated,
    lobbied,
    localized,
    located,
    maintained,
    managed,
    mapped,
    marketed,
    maximized,
    measured,
    mediated,
    merchandised,
    merged,
    met,
    minimized,
    modeled,
    moderated,
    modernized,
    modified,
    monitored,
    motivated,
    moved,
    multiplied,
    named,
    narrated,
    negotiated,
    noticed,
    nurtured,
    observed,
    obtained,
    offered,
    offset,
    opened,
    operated,
    operationalized,
    orchestrated,
    ordered,
    organized,
    oriented,
    originated,
    overhauled,
    oversaw,
    paid,
    participated,
    passed,
    patterned,
    penalized,
    perceived,
    performed,
    permitted,
    persuaded,
    phased,
    pinpointed,
    pioneered,
    placed,
    planned,
    polled,
    prepared,
    presented,
    preserved,
    presided,
    prevented,
    priced,
    printed,
    prioritized,
    probed,
    processed,
    procured,
    produced,
    profiled,
    programmed,
    projected,
    promoted,
    prompted,
    proposed,
    proved,
    provided,
    publicized,
    published,
    purchased,
    pursued,
    quantified,
    quoted,
    raised,
    ranked,
    rated,
    reacted,
    read,
    received,
    recommended,
    reconciled,
    recorded,
    recovered,
    recruited,
    rectified,
    redesigned,
    reduced,
    referred,
    refined,
    regained,
    regulated,
    rehabilitated,
    reinforced,
    reinstated,
    rejected,
    related,
    remedied,
    remodeled,
    renegotiated,
    reorganized,
    replaced,
    repaired,
    reported,
    represented,
    requested,
    researched,
    resolved,
    responded,
    restored,
    restructured,
    resulted,
    retained,
    retrieved,
    revamped,
    revealed,
    reversed,
    reviewed,
    revised,
    revitalized,
    rewarded,
    routed,
    safeguarded,
    salvaged,
    saved,
    scheduled,
    screened,
    secured,
    segmented,
    selected,
    sent,
    separated,
    served,
    serviced,
    settled,
    shaped,
    shortened,
    showed,
    shrank,
    signed,
    simplified,
    sold,
    solved,
    spearheaded,
    specified,
    speculated,
    spoke,
    spread,
    stabilized,
    staffed,
    staged,
    standardized,
    steered,
    stimulated,
    strategized,
    streamlined,
    strengthened,
    stressed,
    structured,
    studied,
    submitted,
    substantiated,
    substituted,
    suggested,
    summarized,
    superseded,
    supervised,
    supplied,
    supported,
    surpassed,
    surveyed,
    synchronized,
    synthesized,
    systematized,
    tabulated,
    tailored,
    targeted,
    taught,
    terminated,
    tested,
    testified,
    tightened,
    took,
    traced,
    traded,
    trained,
    transacted,
    transferred,
    transformed,
    translated,
    transported,
    traveled,
    treated,
    tripled,
    uncovered,
    undertook,
    unified,
    united,
    updated,
    upgraded,
    used,
    utilized,
    validated,
    valued,
    verified,
    viewed,
    visited,
    weighed,
    welcomed,
    widened,
    witnessed,
    won,
    worked,
    wrote,
    abstracted,
    briefed,
    correlated,
    debated,
    detected,
    diagnosed,
    discriminated,
    dissected,
    integrated,
    reasoned,
    scanned,
    symbolized,
    visualized,
    bolstered,
    cooperated,
    enlisted,
    fostered,
    helped,
    sustained,
    expressed,
    listened,
    charged,
    learned,
    applied,
    cared,
    coached,
    comforted,
    educated,
    enlightened,
    shared,
    fixed,
    ran,
    upheld,
    accumulated,
    collated,
    copied,
    detailed,
    methodized,
    attended,
    catered,
    began,
    boosted,
    conserved,
    contacted,
    continued,
    conveyed,
    customized,
    dispensed,
    diverted,
    emphasized,
    ensured,
    experimented,
    explored,
    fabricated,
    finalized,
    grossed,
    heightened,
    honed,
    hypothesized,
    imagined,
    incorporated,
    indexed,
    interacted,
    kept,
    lifted,
    logged,
    manipulated,
    mobilized,
    navigated,
    netted,
    outlined,
    overcame,
    photographed,
    piloted,
    played,
    plays,
    predicted,
    prescribed,
    proofread,
    protected,
    qualified,
    questioned,
    reached,
    realized,
    rendered,
    reshaped,
    searched,
    simulated,
    sketched,
    sorted,
    specialized,
    sponsored,
    started,
    totaled,
    tracked,
    transcribed,
    transmitted,
    tutored,
    verbalized,
    vitalized,
    volunteered,
    forwarded,
    fosteredopened,
    set,
    shipped,
    grabbed,
    sifted,
    crafted,
    painted,
    smoothed,
    alphabetized,
    sought,
    dealt,
    hastened,
    highlighted,
    stated,
    hiked,
    stopped,
    argued,
    housed,
    policed,
    straightened,
    hunted,
    prevailed,
    stripped,
    assured,
    included,
    digested,
    profited,
    diminished,
    indicated,
    prohibited,
    surmounted,
    dramatized,
    dropped,
    put,
    brought,
    quickened,
    builtelected,
    toured,
    caught,
    enjoyed,
    labored,
    caused,
    recognized,
    licensed,
    chopped,
    renovated,
    looked,
    made,
    rescued,
    excelled,
    typed,
    returned,
    unearthed,
    unfurled,
    "took over",
    "accounted for",
    "shored up",
    "cleaned up",
    "resulted in",
    "mapped out",
    waved,
    kicked,
    kissed,
    slapped,
    shot,
    throttled,
    killed,
    nailed,
    slammed,
    trounced,
    impaled,
    pummeled,
    pummelled,
    confused,
    pounced,
    "'s",
    "'"
)