@import url(common.css);

body {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 4px 0;
}

.notice-wrapper, .message-wrapper {
	text-align: left;
	margin-top: 6px;
	padding-bottom: 6px;
}

.notice-wrapper:before {
	margin-right: 0.3ex;
}

.notice-wrapper:not(.action) + .notice-wrapper, .message-wrapper:not(.action) + .message-wrapper {
	margin-top: 0;
}

.notice-wrapper.self, .message-wrapper.self {
	text-align: right;
}

.notice-wrapper.action, .message-wrapper.action {
	text-align: center !important;
	color: rgb(25%, 25%, 25%);
	margin-top: 0;
	padding-bottom: 0;
}

.notice-wrapper.action.previous-session, .message-wrapper.action.previous-session {
	color: rgb(35%, 35%, 35%);
}

.notice, .message {
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
}

.notice:not(.action), .message:not(.action) {
	display: inline-block;
	-webkit-box-sizing: border-box;
	max-width: 98%;
}

.notice-wrapper:not(.action):not(.self) .notice, .message-wrapper:not(.action):not(.self) .message {
	border-width: 8px 12px 10px 18px;
	margin-right: 8px;
	background-color: rgb(173, 248, 135);
	-webkit-border-image: url(bubbleLeft.png) 8 12 10 18;
}

.notice-wrapper.previous-session:not(.action):not(.self) .notice, .message-wrapper.previous-session:not(.action):not(.self) .message {
	background-color: rgba(173, 248, 135, 0.5);
}

.notice-wrapper.self:not(.action) .notice, .message-wrapper.self:not(.action) .message {
	border-width: 8px 18px 10px 12px;
	margin-left: 8px;
	background-color: rgb(123, 200, 239);
	-webkit-border-image: url(bubbleRight.png) 8 18 10 12;
}

.notice-wrapper.self.previous-session:not(.action) .notice, .message-wrapper.self.previous-session:not(.action) .message {
	background-color: rgba(123, 200, 239, 0.5);
}

.notice .content, .message .content {
	margin: -6px -1px -4px -1px;
}

.nickname {
	-webkit-touch-callout: none;
	text-decoration: none;
}

.sender {
	color: rgb(40%, 40%, 40%);
	margin-top: -1px;
}

.self .sender, .notice-wrapper.action .sender, .message-wrapper.action .sender {
	display: none;
}

.event {
	clear: both;
	line-height: 1.1em;
	font-size: smaller;
	color: rgb(66%, 66%, 66%);
	text-align: center;
	padding: 1px 8px 4px;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
}
