.mark {
	width: 80%;
	color: #222222;
}

.timestamp {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);

	display: inline;
	font-size: smaller;
	opacity: 0.7;
	padding-right: 3px;
}

.timestamp.right {
	float: right;
}

.timestamp.left {
	float: left;
}
