body {
	margin: 0;
	font-size: 14px;
	font-family: Courier, serif;
	-webkit-text-size-adjust: none;
	padding: 2px 8px;
}

.console {
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
}

.console.outbound {
	font-weight: bold;
}