<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JVChatEncoding</key>
	<integer>5</integer>
	<key>CQDirectChatEncoding</key>
	<integer>4</integer>
	<key>CQChatRoomEncoding</key>
	<integer>4</integer>
	<key>CQChatTranscriptStyle</key>
	<string>standard</string>
	<key>CQChatAutocompleteBehavior</key>
	<string>Tap</string>
	<key>CQChatAutocapitalizationBehavior</key>
	<string>Sentences</string>
	<key>CQChatRoomInviteAction</key>
	<string>Ask</string>
	<key>CQFileDownloadAction</key>
	<string>Ask</string>
	<key>JVSortRoomMembersByStatus</key>
	<true/>
	<key>JVShowFullRoomNames</key>
	<false/>
	<key>JVChatStripMessageFormatting</key>
	<false/>
	<key>JVAutoRejoinRoomsOnKick</key>
	<false/>
	<key>CQDisableLandscape</key>
	<false/>
	<key>CQDisableBuiltInBrowser</key>
	<false/>
	<key>CQDisableChatAutocorrection</key>
	<false/>
	<key>CQVibrateOnHighlight</key>
	<true/>
	<key>CQVibrateOnPrivateMessage</key>
	<true/>
	<key>CQVibrateOnFileTransfer</key>
	<true/>
	<key>CQSoundOnHighlight</key>
	<true/>
	<key>CQSoundOnHighlightIdentifier</key>
	<string>beep1</string>
	<key>CQSoundOnPrivateMessage</key>
	<true/>
	<key>CQSoundOnPrivateMessageIdentifier</key>
	<string>beep1</string>
	<key>CQSoundOnFileTransfer</key>
	<true/>
	<key>CQSoundOnFileTransferIdentifier</key>
	<string>beep1</string>
	<key>CQShowLeaveEvents</key>
	<true/>
	<key>CQShowJoinEvents</key>
	<true/>
	<key>CQShowsChatIcons</key>
	<true/>
	<key>CQIdleTimerDisabled</key>
	<true/>
	<key>CQHistoryOnReconnect</key>
	<true/>
	<key>CQHighlightWords</key>
	<string></string>
	<key>CQDefaultRealName</key>
	<string></string>
	<key>CQDefaultNickname</key>
	<string></string>
	<key>JVQuitMessage</key>
	<string>Get Colloquy for iPhone! http://colloquy.mobi/</string>
</dict>
</plist>
