<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>3.1</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>info.colloquy.mobile</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>coRC</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>source</string>
	<key>CQBuildType</key>
	<string>personal</string>
	<key>MVChatCoreCTCPVersionReplyInfo</key>
	<string>http://colloquy.mobi</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Internet Relay Chat Server</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>irc</string>
				<string>ircs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72.png</string>
		<string>Icon-57.png</string>
	</array>
	<key>CFBundleIconFile</key>
	<string>Icon-57.png</string>
</dict>
</plist>
