@import url(common.css);

body {
	background-color: rgb(253, 251, 138);
	background-image: url(gradientHighlight.png), url(notesBackground.png);
	background-repeat: repeat-x, repeat-y;
	margin: 0;
	font-size: 14px;
	font-family: Marker Felt;
	-webkit-text-size-adjust: none;
	border-top: 1px solid rgba(20, 20, 200, 0.1);
}

a {
	pointer-events: auto;
}

.notice-wrapper, .message-wrapper {
	padding: 1px 8px 1px 30px;
	border-bottom: 1px solid rgba(20, 20, 200, 0.1);
	pointer-events: none;
}

.previous-session {
	opacity: 0.6;
}

.event + .notice-wrapper, .event + .message-wrapper {
	border-bottom: 1px solid rgba(20, 20, 200, .1);
}

.notice-wrapper:before {
	margin-right: 0.3ex;
}

.notice-wrapper:not(.highlight) + .event, .message-wrapper:not(.highlight) + .event {
	border-bottom: 1px solid rgba(20, 20, 200, .1);
}

.notice-wrapper.highlight, .message-wrapper.highlight {
	background-image: url(notesBackground.png);
	background-color: rgb(253, 253, 222);
	background-repeat: repeat-y;
	border-bottom: 1px solid rgba(20, 20, 200, 0.1);
}

.notice-wrapper.highlight + .notice-wrapper, .message-wrapper.highlight + .message-wrapper {
	border-bottom: none;
}

.nickname {
	-webkit-touch-callout: none;
	text-decoration: none;
}

.sender {
	display: inline;
	color: #61150f;
}

.sender.self {
	color: #972913;
}

.event {
	background-image: url(notesBackground.png);
	background-repeat: repeat-y;
	background-color: #fcf8b3;
	border-bottom: 1px solid rgba(20, 20, 200, .1);
	line-height: 1.1em;
	font-size: smaller;
	color: rgb(33%, 33%, 33%);
	text-align: center;
	padding: 3px 8px 3px 30px;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
}

.notice, .message {
	display: inline;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
}
