<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Abjects</string>
		<key>Address</key>
		<string>irc.abjects.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>AllNetwork</string>
		<key>Address</key>
		<string>irc.allnetwork.org</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>DALnet</string>
		<key>Address</key>
		<string>irc.dal.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>DarkSin</string>
		<key>Address</key>
		<string>irc.darksin.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>EFNet</string>
		<key>Address</key>
		<string>irc.efnet.org</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>EsperNet</string>
		<key>Address</key>
		<string>irc.esper.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Foonetic</string>
		<key>Address</key>
		<string>irc.foonetic.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Freenode</string>
		<key>Address</key>
		<string>irc.freenode.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GameSurge</string>
		<key>Address</key>
		<string>irc.gamesurge.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GeekShed</string>
		<key>Address</key>
		<string>irc.geekshed.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>IRCnet</string>
		<key>Address</key>
		<string>irc.ircnet.com</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>IRCHighway</string>
		<key>Address</key>
		<string>irc.irchighway.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ICQ</string>
		<key>Address</key>
		<string>irc.icq.com</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacNN</string>
		<key>Address</key>
		<string>irc.macnn.com</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacGeneration</string>
		<key>Address</key>
		<string>irc.macgeneration.com</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>OFTC</string>
		<key>Address</key>
		<string>irc.oftc.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>OGameNet</string>
		<key>Address</key>
		<string>irc.ogamenet.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>QuakeNet</string>
		<key>Address</key>
		<string>irc.quakenet.org</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rizon</string>
		<key>Address</key>
		<string>irc.rizon.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>SKYROCK</string>
		<key>Address</key>
		<string>irc.skyrock.com</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>SynIRC</string>
		<key>Address</key>
		<string>irc.synirc.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>SwiftIRC</string>
		<key>Address</key>
		<string>irc.swiftirc.net</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Undernet</string>
		<key>Address</key>
		<string>irc.undernet.org</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ustream</string>
		<key>Address</key>
		<string>chat2.ustream.tv</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>WebChat</string>
		<key>Address</key>
		<string>irc.webchat.org</string>
	</dict>
</array>
</plist>
