<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Address</key>
		<string>irc.abjects.net</string>
		<key>Name</key>
		<string>Abjects</string>
		<key>SSLPort</key>
		<integer>9000</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.chlame.net</string>
		<key>Name</key>
		<string>ChLame</string>
		<key>SSLPort</key>
		<integer>6669</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.dal.net</string>
		<key>Name</key>
		<string>DALnet</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.efnet.org</string>
		<key>Name</key>
		<string>EFNet</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.esper.net</string>
		<key>Name</key>
		<string>EsperNet</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.euirc.net</string>
		<key>Name</key>
		<string>euIRC</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.foonetic.net</string>
		<key>Name</key>
		<string>Foonetic</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>chat.freenode.net</string>
		<key>Name</key>
		<string>Freenode</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>Prothid.NY.US.GameSurge.Net</string>
		<key>Name</key>
		<string>GameSurge</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.geekshed.net</string>
		<key>Name</key>
		<string>Geekshed</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.ircnet.com</string>
		<key>Name</key>
		<string>IRCnet</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.irchighway.net</string>
		<key>Name</key>
		<string>IRCHighway</string>
		<key>SSLPort</key>
		<integer>9999</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.icq.com</string>
		<key>Name</key>
		<string>ICQ</string>
		<key>SSLPort</key>
		<string>443</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.macnn.com</string>
		<key>Name</key>
		<string>MacNN</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.macgeneration.com</string>
		<key>Name</key>
		<string>MacGeneration</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.mozilla.org</string>
		<key>Name</key>
		<string>Mozilla</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.oftc.net</string>
		<key>Name</key>
		<string>OFTC</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.ogamenet.net</string>
		<key>Name</key>
		<string>OGameNet</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.quakenet.org</string>
		<key>Name</key>
		<string>QuakeNet</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.rizon.net</string>
		<key>Name</key>
		<string>Rizon</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.snoonet.org</string>
		<key>Name</key>
		<string>Snoonet</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.swiftirc.net</string>
		<key>Name</key>
		<string>SwiftIRC</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.synirc.net</string>
		<key>Name</key>
		<string>synIRC</string>
		<key>SSLPort</key>
		<integer>6697</integer>
	</dict>
	<dict>
		<key>Address</key>
		<string>irc.webchat.org</string>
		<key>Name</key>
		<string>WebChat</string>
		<key>SSLPort</key>
		<integer>994</integer>
	</dict>
</array>
</plist>
