@import url(standard.css);

body {
	background-color: black;
	color: white;
}

a {
	color: rgb(139, 189, 223);
}

.message-wrapper {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.previous-session {
	background-color: rgb(30, 30, 40);
}

.event + .message-wrapper {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.message-wrapper:not(.highlight) + .event {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.message-wrapper.highlight {
	background-image: none;
	background-color: rgb(20, 40, 70);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.message-wrapper.highlight .sender {
	text-shadow: black 0 1px 3px;
}

.event {
	color: rgb(33%, 33%, 33%);
}
