body {
	margin: 0;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	-webkit-text-size-adjust: none;
}

.notice-wrapper, .message-wrapper {
	padding: 2px 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.previous-session {
	opacity: 0.7;
	background-color: rgb(250, 250, 245);
}

.notice-wrapper:before {
	margin-right: 0.3ex;
}

.notice-wrapper:first-child:not(.previous-session), .message-wrapper:first-child:not(.previous-session) {
	border-top: none;
}

.notice-wrapper.previous-session:last-child, .message-wrapper.previous-session:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notice-wrapper:not(.highlight) + .event, .message-wrapper:not(.highlight) + .event {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.notice-wrapper.highlight, .message-wrapper.highlight {
	background-color: rgb(204, 255, 102);
	background-image: url(gradientHighlight.png);
	background-repeat: repeat-x;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notice-wrapper.highlight .sender, .message-wrapper.highlight .sender {
	text-shadow: white 0 1px 3px;
}

.notice-wrapper.highlight + .notice-wrapper, .message-wrapper.highlight + .message-wrapper {
	border-top: none;
}

.notice-wrapper.action .sender, .message-wrapper.action .sender {
	margin-left: -6px;
}

.sender {
	display: inline;
	color: rgb(255, 128, 0);
}

.sender.self {
	color: rgb(170, 34, 17);
}

.nickname {
	-webkit-touch-callout: none;
	text-decoration: none;
}

.event {
	font-size: smaller;
	line-height: 1.1em;
	color: rgb(66%, 66%, 66%);
	text-align: center;
	padding: 1px 8px 4px;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
}

.notice, .message {
	display: inline;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
}
