body {
	margin: 0;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	-webkit-text-size-adjust: none;
}

.message-wrapper {
	padding: 3px 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.previous-session {
	opacity: 0.7;
	background-color: rgb(250, 250, 245);
}

.message-wrapper:first-child {
	border-top: none;
}

.event + .message-wrapper {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.message-wrapper:not(.highlight) + .event {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.message-wrapper.highlight {
	background-color: rgb(204, 255, 102);
	background-image: url(gradientHighlight.png);
	background-repeat: repeat-x;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.message-wrapper.highlight .sender {
	text-shadow: white 0 1px 3px;
}

.message-wrapper.highlight + .message-wrapper {
	border-top: none;
}

.message-wrapper.action .sender:before {
	content: "\2022";
	margin-left: -2px;
	margin-right: 2px;
}

.message-wrapper.action .sender:after {
	content: " ";
}

.sender {
	display: inline;
	color: rgb(255, 128, 0);
}

.sender.self {
	color: rgb(170, 34, 17);
}

.sender:after {
	content: ": ";
	font-weight: bold;
}

.event {
	font-size: smaller;
	color: rgb(66%, 66%, 66%);
	text-align: center;
	padding: 2px 8px;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
}

.message {
	display: inline;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-nbsp-mode: space;
}
