/*  Based on Fiat - by dzhim and nsraffy  */

body {
	background-color: #e0e0e0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top left;
	margin: 3px 3px;
}

a img {
	border: 0;
}

img {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: auto;
}

a:hover {
	text-shadow: rgba( 0, 0, 0, .3 ) 0 1px 1px;
}

#consecutiveInsert {
	display: none;
}

.error:before {
	content: "(";
}

.error:after {
	content: ")";
}

.header_top {
	display: block;
	margin-top: 2px;
	height: 2px;
	background: url( "images/h_shadow_top.png" ) repeat-x;
}

.header {
	display: block;
	position: relative;
	height: 22;
	background: url( "images/h_shadow_left.png" ) left repeat-y;
	padding-left: 4px;
}

.header > span {
	display: block;
	background: url( "images/h_shadow_right.png" ) right repeat-y;
	padding-right: 4px;
}

.header > span > span {
	display: block;
	height: 20;
	overflow: hidden;
}

.header .left {
	display: block;
	position: absolute;
	left: 0;
	bottom: -4px;
	background: url( "images/h_shadow_corner_left.png" );
	width: 4px;
	height: 4px;
}

.header .right {
	display: block;
	position: absolute;
	right: 0;
	bottom: -4px;
	background: url( "images/h_shadow_corner_right.png" );
	width: 4px;
	height: 4px;
}

.header .sender {
	display: block;
	height: 20;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 6px;
	margin: 0;
}

.header img {
	float: right;
	margin: 2px 6px;
}

.messages {
	display: block;
	margin: 0 4px;
	background: url( "images/m_shadow_left.png" ) left repeat-y;
	padding-left: 4px;
}

.messages > span {
	display: block;
	background: url( "images/m_shadow_right.png" ) right repeat-y;
	padding-right: 4px;
}

.messages > span > span {
	display: block;
	border-top: 1px solid rgba( 0, 0, 0, .125 );
	background: #fafafa;
}

.messages .time {
	display: block;
	float: left;
}

.messages .time.inline {
	margin: 1px 4px 0;
	padding: 0;
	overflow: hidden;
	text-shadow: rgba( 0, 0, 0, .125 ) 0 1px 1px;
}

.messages .time[title]:after {
	margin: 1px 4px 0;
	padding: 0;
	overflow: hidden;
	text-shadow: rgba( 0, 0, 0, .125 ) 0 1px 1px;
	content: attr( title );
}

.messages .sep {
	display: block;
	margin: 3px 4px 0;
	height: 1px;
}

.messages .message {
	display: block;
	margin: 1px 4px 0;
	padding: 0;
	overflow: hidden;
}

.messages_bottom {
	display: block;
	position: relative;
	margin: 0 12px;
	height: 8px;
}

.messages_bottom .left {
	display: block;
	position: absolute;
	left: -8px;
	width: 8px;
	height: 8px;
}

.messages_bottom .right {
	display: block;
	position: absolute;
	right: -8px;
	width: 8px;
	height: 8px;
}

.event {
	display: block;
	margin: 0 8px 2px;
	padding: 0;
	text-shadow: rgba( 0, 0, 0, .125 ) 0 1px 1px;
}

.event .time {
	display: block;
	float: left;
}

.event .time.inline {
	margin: 0 4px;
	padding: 0;
	overflow: hidden;
	color: #404040;
}

.event .time[title]:after {
	float: left;
	margin: 0 4px;
	padding: 0;
	overflow: hidden;
	color: #404040;
	content: attr( title )
}

.event .message {
	margin: 0 4px;
	padding: 0;
	overflow: hidden;
	color: #303030;
}

.event a {
	color: #404040;
}

.incoming .header > span > span {
	border: 1px solid rgba( 0, 0, 0, .2 );
	background: #a6d984 url( "images/h_light.png" ) top repeat-x;
}

.incoming .messages .highlight {
	color: #265904;
	font-weight: bold;
	text-shadow: rgba( 0, 0, 0, .3 ) 0 2px 2px;
}

.incoming .header .sender {
	color: #265904;
	text-shadow: rgba( 0, 0, 0, .3 ) 0 2px 2px;
}

.incoming .messages .time.inline {
	color: #265904;
}

.incoming .messages .time[title]:after {
	color: #265904;
}

.incoming .messages .sep {
	background-color: #a6d984;
	border-bottom: 1px solid rgba( 255, 255, 255, .6 );
}

.incoming .messages_bottom {
	background: url( "images/m_shadow_bottom.png" ) repeat-x;
}

.incoming .messages_bottom .left {
	background: url( "images/m_corner_left.png" );
}

.incoming .messages_bottom .right {
	background: url( "images/m_corner_right.png" );
}

.outgoing .header > span > span {
	border: 1px solid rgba( 0, 0, 0, .2 );
	background: #a3c5f8 url( "images/h_light.png" ) top repeat-x;
}

.outgoing .header .sender {
	color: #234578;
	text-shadow: rgba( 0, 0, 0, .3 ) 0 2px 2px;
}

.outgoing .messages .time.inline {
	color: #234578;
}

.outgoing .messages .time[title]:after {
	color: #234578;
}

.outgoing .messages .sep {
	background: #a3c5f8;
	border-bottom: 1px solid rgba( 255, 255, 255, .6 );
}

.outgoing .messages_bottom {
	background: url( "images/m_shadow_bottom.png" ) repeat-x;
}

.outgoing .messages_bottom .left {
	background: url( "images/m_corner_left.png" );
}

.outgoing .messages_bottom .right {
	background: url( "images/m_corner_right.png" );
}

.member {
	text-decoration: none !important;
	color: inherit !important;
}

.member:hover {
	text-decoration: underline;
	text-shadow: rgba( 0, 0, 0, .5 ) 0 1px 2px;
}
