<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Bubble Colloquy Chat Style</string>
	<key>CFBundleIdentifier</key>
	<string>cc.javelin.colloquy.style.bubbles</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bubbles</string>
	<key>CFBundlePackageType</key>
	<string>coSt</string>
	<key>JVStyleOptions</key>
	<array>
		<dict>
			<key>style</key>
			<string>table.rightBubble td { background-color: %@ !important; }</string>
			<key>default</key>
			<string>white</string>
			<key>description</key>
			<string>Your bubbles</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<string>table.rightBubble td.center .text { color: %@ !important; }</string>
			<key>default</key>
			<string>black</string>
			<key>description</key>
			<string>Your bubble's text</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<string>table.leftBubble td { background-color: %@ !important; }</string>
			<key>default</key>
			<string>white</string>
			<key>description</key>
			<string>Other bubbles</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<string>table.leftBubble td.center .text { color: %@ !important; }</string>
			<key>default</key>
			<string>black</string>
			<key>description</key>
			<string>Other bubble's text</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<string>.highlight { color: %@ !important; }</string>
			<key>default</key>
			<string>#0054cc</string>
			<key>description</key>
			<string>Highlight words</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<array>
				<string>.highlight { font-weight: normal !important; font-style: normal !important; text-decoration: none !important; }</string>
				<string>.highlight { font-weight: bold !important; font-style: normal !important; text-decoration: none !important; }</string>
				<string>.highlight { font-weight: normal !important; font-style: italic !important; text-decoration: none !important; }</string>
				<string>.highlight { font-weight: normal !important; font-style: normal !important; text-decoration: underline !important; }</string>
			</array>
			<key>default</key>
			<integer>1</integer>
			<key>description</key>
			<string>Highlight style</string>
			<key>type</key>
			<string>list</string>
			<key>options</key>
			<array>
				<string>Plain</string>
				<string>Bold</string>
				<string>Italic</string>
				<string>Underline</string>
			</array>
		</dict>
		<dict>
			<key>style</key>
			<string>.member { color: %@ !important; }</string>
			<key>default</key>
			<string>#0054cc</string>
			<key>description</key>
			<string>Member names</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<array>
				<string>.member { font-weight: normal !important; font-style: normal !important; text-decoration: none !important; }</string>
				<string>.member { font-weight: bold !important; font-style: normal !important; text-decoration: none !important; }</string>
				<string>.member { font-weight: normal !important; font-style: italic !important; text-decoration: none !important; }</string>
				<string>.member { font-weight: normal !important; font-style: normal !important; text-decoration: underline !important; }</string>
			</array>
			<key>default</key>
			<integer>1</integer>
			<key>description</key>
			<string>Member name style</string>
			<key>type</key>
			<string>list</string>
			<key>options</key>
			<array>
				<string>Plain</string>
				<string>Bold</string>
				<string>Italic</string>
				<string>Underline</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
