{
    angry.tif = (":x", ":X", ":-x", "=x", "=-x", "x-(", "x(", "X(", ">.<", ">:-|", ":<"); 
    anime.tif = ("^-^", "^_^", "^,^", "^.^", "^_-", "(^3^)"); 
    annoyed.tif = (":/", ":-/", ":\\", ":-\\", "=/", "=-/", "=\\", "=-\\"); 
    cool.tif = ("8)", "8-)", "B-)", "B)"); 
    frosty.tif = ("=^)", ":^)"); 
    frown.tif = (":(", ":-(", "=(", "=-(", ":((", ":o(", ":[", "D:"); 
    happy.tif = (":D", ":-D", "=-D", "=D", "xD"); 
    headphones.tif = ("[:)", "[=)", "[:-)", "[=-)"); 
    kirby.tif = ("<('.'<)", "<(''<)", "<(\"<)"); 
    pikachu.tif = ("(o^.^o)"); 
    razz.tif = (":P", ":-P", "=P", "=-P", ":p", ":-p", "=p", "=-p", ":oP", ":op", "d:P", "q:P", "d=P", "q=P"); 
    smile.tif = (":)", ":-)", "=)", "=-)", ":o)", ":}"); 
    stoic.tif = (":|", ":-|", "=|", "=-|", "-.-", "-.-~", "-_-"); 
    suprised.tif = (":O", ":-O", "=O", "=-O", ":o", ":-o", "=o", "=-o"); 
    wink.tif = ("^-~", ";)", ";-)"); 
    angel.tif = ("O:)", "O:-)", "O;)", "O;-)", "O=)", "O=-)"); 
    evil.tif = (">:)", ">:-)", ">;)", ">;-)", ">=)", ">=-)", ">=>"); 
    confused.tif = ("o.O", "O.o", "O.O", "0.o", "o.0", "o_O", "O_o"); 
    hat.tif = ("d:)", "q:)", "d;)", "q;)", "d=)", "q=)", "q=]", "d=]", "q:]", "d:]"); 
	sarcasm.tif = ("9.9", "c.c");
	pumpkin.tif = ("(~~)");
	flag.tif = ("**==");
	rose.tif = ("@};-");
}