body {	margin: 4px 0 5px 0;	color: black;	background-color: white;}i {	background-color: black;	color: white;	font-style: normal;}.error {	color: #aaa;}.error:before {	content: "[";}.error:after {	content: "]";}.event:before {	color: #c0c;	margin-right: 1ex;	content: "\00BB";	white-space: nowrap;}.event {	display: block;	text-align: left;	margin-left: 14ex;	margin-right: 9ex;}.envelope {	overflow: hidden;}.envelope.highlight {	background-color: #ccd;}.message {	display: block;	text-align: left;	margin-left: 16ex;	margin-right: 9ex;}.member {	overflow: hidden;	display: block;	width: 15ex;	float: left;	text-align: right;	color: #00f;}.member.self {	color: #F00;}.member:before {	content: "<";	white-space: nowrap;}.member:after {	content: ">";	white-space: nowrap;}.action .member:before {
	content: "\2022";
	margin-right: 0.5ex;
}

.action .member:after {
	margin-left: 0;	content: "";
}
.timestamp {	float: right;	margin-right: 1ex;	margin-left: 1ex;}