body {
	margin: 4px 0 5px 0;
	color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top left;
	background-color: white;
}

i {
	background-color: black;
	color: white;
	font-style: normal;
}

.event:before {
	color: #c0c;
	margin-right: 1ex;
	content: "\00BB";
	white-space: nowrap;
}

.envelope {
	overflow: hidden;
}

.envelope.highlight {
	background-color: #ccd;
}

.envelope > .member {
	overflow: hidden;
	display: block;
	padding-left: 1ex;
	width: 14ex;
	float: left;
	text-align: right;
	text-decoration: none;
	color: #00f;
}

.envelope > .member.self {
	color: #F00;
}

.envelope > .member:before {
	content: "<";
	white-space: nowrap;
}

.envelope > .member:after {
	content: ">";
	white-space: nowrap;
}

.action > .member:before {
	content: "\2022";
	margin-right: 0.5ex;
}

.action > .member:after {
	margin-left: 0;
	content: "";
}

.message > .member {
	margin-left: 0;
	text-decoration: none !important;
	color: inherit !important;
}

.event {
	display: block;
	text-align: left;
	margin-left: 14ex;
	margin-right: 0;
	word-wrap: break-word;
}

.message {
	display: block;
	text-align: left;
	margin-left: 16ex;
	margin-right: 9ex;
	word-wrap: break-word;
}

.timestamp {
	float: right;
	margin-right: 1ex;
	margin-left: 1ex;
}
