[lang |= en] > * { quotes: "\201c" "\201d" "\2018" "\2019" }

body {
	margin: 4px 0 4px 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top left;
	background-color: white;
}

.hidden {
	position: fixed;
	top: -900px;
	left: -900px;
}

q:before {
	content: "\201c";
	font-weight: bold;
}

q:after {
	content: "\201d";
	font-weight: bold;
}

.error:before {
	content: "{";
}

.error:after {
	content: "}";
}

.event, .envelope {
	overflow: hidden;
	padding: 1px 5px 1px 5px;
	margin-bottom: 5px;
	line-height: 1.1em;
	word-wrap: break-word;
	-khtml-line-break: after-white-space;
	-khtml-nbsp-mode: space;
}

.envelopeHighlight {
	overflow: hidden;
	padding: 1px 5px 1px 5px;
	margin-bottom: 5px;
	background-color: #efefec;
}

.sender {
	color: #129;
}

q .submessage:before {
	content: " ";
}

q:empty:before {
	content: "";
}

q:empty:after {
	content: "";
}

q .submessage:first-child:before {
	content: "";
}