(
	{name = "🙂 Smile"; insert = ":)";},
	{name = "🙁 Frown"; insert = ":(";},
	{name = "😉 Wink"; insert = ";)";},
	{name = "😀 Happy"; insert = ":D";},
	{name = "😐 Stoic"; insert = ":|";},
	{name = "😎 Cool"; insert = "8)";},
	{name = "😛 Razz"; insert = ":P";},
	{name = "😯 Surprised"; insert = ":O";},
	{name = "🙄 Sarcastic"; insert = "9.9";},
	{name = "😕 Annoyed"; insert = ":\\";},
	{name = "😡 Angry"; insert = ":x";}
)
