body {	color: white;	background-color: black;	background-image: none;}.envelope.highlight {	background-color: #333;	background-color: rgba( 255, 255, 255, 0.2 );
}.member.self {
	color: #e15757;
}
