<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Standard Colloquy Chat Style</string>
	<key>CFBundleIdentifier</key>
	<string>cc.javelin.colloquy.style.standard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Standard</string>
	<key>CFBundlePackageType</key>
	<string>coSt</string>
	<key>JVStyleOptions</key>
	<array>
		<dict>
			<key>style</key>
			<string>.member.self { color: %@ !important; }</string>
			<key>default</key>
			<string>#a21</string>
			<key>description</key>
			<string>Your name</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<string>.member { color: %@ !important; }</string>
			<key>default</key>
			<string>#f90</string>
			<key>description</key>
			<string>Room members</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<string>.envelope.highlight { background-color: %@ !important; }</string>
			<key>default</key>
			<string>rgba( 0, 0, 0, 0.1 )</string>
			<key>description</key>
			<string>Message highlight</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>style</key>
			<array>
				<string>.messageFadeIn { color: #000000; }</string>
				<string>.messageFadeIn { color: #FFFFFF; }</string>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>description</key>
			<string>Message fade</string>
			<key>type</key>
			<string>list</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>style</key>
			<array>
				<string>.timestamp { display: block; }</string>
				<string>.timestamp { display: none; }</string>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>description</key>
			<string>Timestamp</string>
			<key>type</key>
			<string>list</string>
			<key>options</key>
			<array>
				<string>Visible</string>
				<string>Hidden</string>
			</array>
		</dict>
		<dict>
			<key>style</key>
			<array>
				<string>body { background-image: url( "colloquy.png" ); }</string>
				<string>body { background-image: none !important; }</string>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>description</key>
			<string>Background image</string>
			<key>type</key>
			<string>list</string>
			<key>options</key>
			<array>
				<string>Yes</string>
				<string>No</string>
			</array>
		</dict>
		<dict>
			<key>style</key>
			<array>
				<string>.envelope { margin-bottom: 1px !important; }</string>
				<string>.envelope { margin-bottom: 3px !important; }</string>
				<string>.envelope { margin-bottom: 7px !important; }</string>
			</array>
			<key>default</key>
			<integer>1</integer>
			<key>description</key>
			<string>Line spacing</string>
			<key>type</key>
			<string>list</string>
			<key>options</key>
			<array>
				<string>Small Gap</string>
				<string>Normal</string>
				<string>Large Gap</string>
			</array>
		</dict>
	</array>
</dict>
</plist>