.emoticon samp {
	display: none;
}

.emoticon:after {
	vertical-align: -40%;
}

.emoticon.smile:after {
	content: url( "smile.tiff" );
}

.emoticon.wink:after {
	content: url( "wink.tiff" );
}

.emoticon.happy:after {
	content: url( "laugh.tiff" );
}

.emoticon.stoic samp {
	display: inline;
}

.emoticon.frown:after {
	content: url( "frown.tiff" );
}

.emoticon.annoyed:after {
	content: url( "slant.tiff" );
}

.emoticon.razz:after {
	content: url( "yuck.tiff" );
}

.emoticon.angry:after {
	content: url( "angry.tiff" );
}

.emoticon.cool:after {
	content: url( "cool.tiff" );
}

.emoticon.headphones samp {
	display: inline;
}

.emoticon.hat samp {
	display: inline;
}

.emoticon.angel:after {
	content: url( "innocent.tiff" );
}

.emoticon.evil samp {
	display: inline;
}

.emoticon.anime:after {
	content: url( "smile.tiff" );
}

.emoticon.frosty samp {
	display: inline;
}

.emoticon.kirby samp {
	display: inline;
}

.emoticon.pikachu samp {
	display: inline;
}

.emoticon.suprised:after {
	content: url( "gasp.tiff" );
}

.emoticon.cry:after {
	content: url( "cry.tiff" );
}

.emoticon.confused samp {
	display: inline;
}

.emoticon.sarcasm samp {
	display: inline;
}

.emoticon.pumpkin samp {
	display: inline;
}

.emoticon.flag samp {
	display: inline;
}

.emoticon.rose samp {
	display: inline;
}