body {
	color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top left;
	background-color: #344c7c;
	margin: 0;
}

.hidden {
	position: absolute;
	top: -900px;
	left: -900px;
}

.error {
	color: #aaa;
}

.error:before {
	content: "[";
}

.error:after {
	content: "]";
}

.message {
	display: block;
	background-color: rgba( 255, 255, 255, 0.6 );
	padding: 6px;
	padding-top: 4px;
	padding-bottom: 2px;
	margin-bottom: 0;
}

.message.self {
	background-color: #ddd;
}

.message.highlight {
	background-color: rgba( 255, 191, 78, 0.6 );
}

.submessage {
	display: block;
	border-top: 1px dashed rgba( 0, 0, 0, 0.2 );
	background-color: rgba( 255, 255, 255, 0.6 );
	padding: 6px;
	padding-bottom: 2px;
	padding-top: 2px;
	margin-bottom: 0;
}

.submessage.self {
	background-color: #ddd;
}

.submessage.highlight {
	background-color: rgba( 255, 191, 78, 0.6 ); 
}

.shadow {
	display: block;
	background: url( "shadow.png" ) repeat-x; 
	width: auto;
	height: 15px;
}

.header {
	display: block;
   	position: relative;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.5 );
    margin-bottom: 2px;
}

.header .name {
	text-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.6 );
	width: auto;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.time {
	float: right;
	font-size: smaller;
	margin-left: 10px;
	color: rgba( 0, 0, 0, 0.5 );
}

.time[title]:before {
	float: right;
	font-size: smaller;
	margin-left: 10px;
	color: rgba( 0, 0, 0, 0.5 );
	content: attr( title );
}

.event {
	display: block;
	text-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.1 );
	padding: 2px;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	width: auto;
	font-weight: bold;
	font-size: smaller;
	color: white;
}

.event .reason:before {
	white-space: pre;
	content: "\A";
}

.event a {
	color: white !important;
}

a.member {
	color: inherit !important;
	text-decoration: none !important;
	border-bottom: 1px black dotted;
}

a.member.action {
	border-bottom: none !important;
}

.event a.member {
	border-bottom: 1px white dotted;
}

#consecutiveInsert {
	display: none;
}

.itunes {
	text-decoration: none !important;
	color: inherit !important;
}

.itunes > *:hover {
	text-decoration: underline;
}