<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Novel Colloquy Chat Style</string>
	<key>CFBundleIdentifier</key>
	<string>cc.javelin.colloquy.style.novel</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Novel</string>
	<key>CFBundlePackageType</key>
	<string>coSt</string>
</dict>
</plist>
