<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Always Show Notices</string>
			<key>Key</key>
			<string>JVChatAlwaysShowNotices</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Auto Lock</string>
			<key>Key</key>
			<string>CQIdleTimerDisabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Completion</string>
			<key>Key</key>
			<string>CQDisableChatAutocomplete</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Correction</string>
			<key>Key</key>
			<string>CQDisableChatAutocorrection</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Vibrate on Highlight</string>
			<key>Key</key>
			<string>CQVibrateOnHighlight</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>CQChatRoomLanguage</string>
			<key>Title</key>
			<string>Default Country</string>
			<key>Values</key>
			<array>
				<string>ca</string>
				<string>cn</string>
				<string>fr</string>
				<string>de</string>
				<string>jp</string>
				<string>uk</string>
				<string>en</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Canada</string>
				<string>China</string>
				<string>France</string>
				<string>Germany</string>
				<string>Japan</string>
				<string>United Kingdom</string>
				<string>United States</string>
			</array>
			<key>DefaultValue</key>
			<string>en</string>
		</dict>
	</array>
</dict>
</plist>
