<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Show Notices</string>
			<key>Key</key>
			<string>JVChatAlwaysShowNotices</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>-1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>All</string>
				<string>Auto</string>
				<string>None</string>
			</array>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Auto Lock</string>
			<key>Key</key>
			<string>CQIdleTimerDisabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>History on Reconnect</string>
			<key>Key</key>
			<string>CQHistoryOnReconnect</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>CQTimestampInterval</string>
			<key>Title</key>
			<string>Timestamps</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>60</integer>
				<integer>120</integer>
				<integer>180</integer>
				<integer>240</integer>
				<integer>300</integer>
				<integer>600</integer>
				<integer>900</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>Every Minute</string>
				<string>Every 2 Minutes</string>
				<string>Every 3 Minutes</string>
				<string>Every 4 Minutes</string>
				<string>Every 5 Minutes</string>
				<string>Every 10 Minutes</string>
				<string>Every 15 Minutes</string>
			</array>
			<key>DefaultValue</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Multitasking</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>CQMultitaskingTimeout</string>
			<key>Title</key>
			<string>Multitask For:</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>60</integer>
				<integer>120</integer>
				<integer>300</integer>
				<integer>600</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Disabled</string>
				<string>1 Minute</string>
				<string>2 Minutes</string>
				<string>5 Minutes</string>
				<string>10 Minutes</string>
			</array>
			<key>DefaultValue</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Open Links in Safari</string>
			<key>Key</key>
			<string>CQDisableBuiltInBrowser</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto Away</string>
			<key>Key</key>
			<string>CQAutoAwayOnBackgrounding</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Text Input</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>CQChatAutocompleteBehavior</string>
			<key>Title</key>
			<string>Chat Completions</string>
			<key>Values</key>
			<array>
				<string>Disabled</string>
				<string>Tap</string>
				<string>Keyboard</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Disabled</string>
				<string>Tap Selection</string>
				<string>Keyboard Selection</string>
			</array>
			<key>DefaultValue</key>
			<string>Tap</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>CQChatAutocapitalizationBehavior</string>
			<key>Title</key>
			<string>Autocapitalization</string>
			<key>TrueValue</key>
			<string>Sentences</string>
			<key>FalseValue</key>
			<string>None</string>
			<key>DefaultValue</key>
			<string>Sentences</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Autocorrection</string>
			<key>Key</key>
			<string>CQDisableChatAutocorrection</string>
			<key>TrueValue</key>
			<false/>
			<key>FalseValue</key>
			<true/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>MVChatNaturalActions</string>
			<key>Title</key>
			<string>Auto Actions</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
