<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Highlight Words</string>
			<key>Key</key>
			<string>CQHighlightWords</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>CQChatRoomInviteAction</string>
			<key>Title</key>
			<string>Action on Invite</string>
			<key>Values</key>
			<array>
				<string>Auto-Join</string>
				<string>Ask</string>
				<string>Auto-Deny</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Always Accept</string>
				<string>Prompt</string>
				<string>Always Deny</string>
			</array>
			<key>DefaultValue</key>
			<string>Ask</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto Join on Kick</string>
			<key>Key</key>
			<string>JVAutoRejoinRoomsOnKick</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Open Links in Safari</string>
			<key>Key</key>
			<string>CQDisableBuiltInBrowser</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Advanced</string>
			<key>File</key>
			<string>AdvancedBehavior</string>
		</dict>
	</array>
</dict>
</plist>
